.imageReview {
    img {
        max-height: 180px;
        width: auto;
        margin-right: 10px;
        border: 1px #CED4DA solid;
        border-radius: 10px;
        padding: 5px;
        margin-left: 5px;
    }
}