<h1>Update Blog</h1>
<c-card>
    <c-card-body>
        <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <c-form-check>
                    <input cFormCheckInput formControlName="isActive" id="isActive" type="checkbox" class="me-2" />
                    <label cFormCheckLabel for="isActive">Active</label>
                </c-form-check>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="topicId">Select Topic: <span class="text-danger">(*)</span></label>
                    <select cFormControl formControlName="topicId" cSelect>
                        <option value="-1">Select a topic</option>
                        @for (item of topicList; track item.id) {
                          <option [value]="item.id">{{ item.nameEN }}</option>
                        }
                    </select>
                    @if (topicId?.invalid && (topicId?.dirty || topicId?.touched)) {
                      <div class="text-danger">
                        @if (topicId?.hasError('min')) {
                          <div>
                            Select topic, please!
                          </div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="mb-2">
                <label cLabel>Upload avatar: <span class="text-danger">(*)</span></label>
                <input class="d-none"  id="uploadImage" type="file"  accept="image/*" (change)="onChangeUploadImage($event)" />
                <div class="mt-2 reviewImage" (click)="openFileInput()">
                  @if (!reviewUploadImage) {
                    <svg [cIcon]="icons.cilCloudUpload" width="140" title="Shield Icon"></svg>
                  }
                  @if (reviewUploadImage) {
                    <div [innerHTML]="reviewUploadImage" class="w-100 h-100 d-flex justify-content-center align-items-center"></div>
                  }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="subjectEN">SubjectEn: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="subjectEN" type="text" />
                    @if (subjectEN?.invalid && (subjectEN?.dirty || subjectEN?.touched)) {
                      <div class="text-danger">
                        @if (subjectEN?.hasError('required')) {
                          <div>
                            Enter subjectEN, please!
                          </div>
                        }
                      </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="subjectVN">SubjectVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="subjectVN" type="text" />
                    @if (subjectVN?.invalid && (subjectVN?.dirty || subjectVN?.touched)) {
                      <div class="text-danger">
                        @if (subjectVN?.hasError('required')) {
                          <div>
                            Enter subjectVN, please!
                          </div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="descriptionEN">DescriptionEN: <span class="text-danger">(*)</span></label>
                    <textarea cFormControl formControlName="descriptionEN" rows="3"></textarea>
                    @if (descriptionEN?.invalid && (descriptionEN?.dirty || descriptionEN?.touched)) {
                      <div class="text-danger">
                        @if (descriptionEN?.hasError('required')) {
                          <div>
                            Enter descriptionEN, please!
                          </div>
                        }
                      </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="descriptionVN">DescriptionVN: <span class="text-danger">(*)</span></label>
                    @if (descriptionVN?.invalid && (descriptionVN?.dirty || descriptionVN?.touched)) {
                      <div class="text-danger">
                        @if (descriptionVN?.hasError('required')) {
                          <div>
                            Enter descriptionVN, please!
                          </div>
                        }
                      </div>
                    }
                    <textarea cFormControl formControlName="descriptionVN" rows="3"></textarea>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="contentEN">ContentEN: <span class="text-danger">(*)</span></label>
                    @if (contentEN?.invalid && (contentEN?.dirty || contentEN?.touched)) {
                      <div class="text-danger">
                        @if (contentEN?.hasError('required')) {
                          <div>
                            Enter contentEN, please!
                          </div>
                        }
                      </div>
                    }

                    <app-ckeditor [initialData]="updateForm.value.contentEN" (result)="composeText($event,'EN')" />

                    <!-- <textarea cFormControl formControlName="contentEN" rows="3"></textarea> -->
                </div>
                <div class="col-6">
                    <label cLabel for="contentVN">ContentVN: <span class="text-danger">(*)</span></label>
                    @if (contentVN?.invalid && (contentVN?.dirty || contentVN?.touched)) {
                      <div class="text-danger">
                        @if (contentVN?.hasError('required')) {
                          <div>
                            Enter contentVN, please!
                          </div>
                        }
                      </div>
                    }
                    <app-ckeditor [initialData]="updateForm.value.contentVN"  (result)="composeText($event,'VN')" />

                    <!-- <textarea cFormControl formControlName="contentVN" rows="3"></textarea> -->
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button cButton type="submit" type="submit" [disabled]="!updateForm.valid"
                   >Submit</button>
                <button cButton type="button" routerLink="/lipstick-shop/blogs" class="ms-2 btn-info"
                   >Back
                    to list</button>
            </div>
        </form>
    </c-card-body>
</c-card>