<nav class="navbarDesktop">
	<div class="left">
		<a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
			<img src="~/assets/images/logo.png" alt="" />			
		</a>
	</div>
	<ul>
		<li>
			<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Category" asp-action="Index">Menu</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
		</li>
		<li>
			<a asp-area="" asp-controller="AboutUs" asp-action="Index">About us</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Contact" asp-action="Index">Contact us</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
		</li>
	</ul>
	<div class="right">
		<span>VN</span>
	</div>
</nav>
<script>
	//on scroll down add class fixed to navDesktop, on scroll to top screen remove class fixed
	window.addEventListener('scroll', function() {
		const navbar = document.querySelector('.navbarDesktop');

		if (window.scrollY > 0) {
		navbar.classList.add('fixed');
		} else {
		navbar.classList.remove('fixed');
		}
	});
</script>