<h1>Module List</h1>
<div class="d-flex justify-content-end mb-2">
    <button routerLink="./create" class="btn btn-success">Create</button>
</div>
<c-card class="mb-4">
    <c-card-header>Data table</c-card-header>
    <c-card-body>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0"
      >
        <thead class="text-nowrap text-truncate">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          @for (item of data; track item.id; let i = $index) {
            <tr>
              <td>{{ i+1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </c-card-body>
  </c-card>
  