.bomCategoryList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4545;

    .categoryName{
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
    }
}

.border-bottom-1 {
    border-bottom: 1px solid #dee2e6;
}