.congratulationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height:100%;

    @keyframes confetti-slow {
        0% {
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
        }

        100% {
            transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
        }
    }

    @keyframes confetti-medium {
        0% {
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
        }

        100% {
            transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
        }
    }

    @keyframes confetti-fast {
        0% {
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
        }

        100% {
            transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
        }
    }

    .confetti-container {
        perspective: 700px;
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    .confetti {
        position: absolute;
        top: -10px;
        border-radius: 0%;
        width: 10px;
        height: 10px;
        background-color: hsl(0, 100%, 50%);
    }

    .confetti--animation-slow {
        animation: confetti-slow 2.25s linear 1 forwards;
    }

    .confetti--animation-medium {
        animation: confetti-medium 1.75s linear 1 forwards;
    }

    .confetti--animation-fast {
        animation: confetti-fast 1.25s linear 1 forwards;
    }

    .checkmark-circle {
        width: 150px;
        height: 150px;
        position: relative;
        display: inline-block;
        margin: 20px auto;

        .background {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: #00C09D;
            position: absolute;
        }

        .checkmark.draw:after {
            animation: checkmark 3s ease forwards;
            transform: scaleX(-1) rotate(135deg);
            animation-delay: 0.1s;
        }

        .checkmark:after {
            opacity: 1;
            height: 75px;
            width: 37.5px;
            transform-origin: left top;
            border-right: 15px solid white;
            border-top: 15px solid white;
            border-radius: 2.5px;
            content: '';
            left: 25px;
            top: 75px;
            position: absolute;
        }
    }

    @keyframes checkmark {
        0% {
            height: 0;
            width: 0;
            opacity: 1;
        }

        20% {
            height: 0;
            width: 37.5px;
            opacity: 1;
        }

        40% {
            height: 75px;
            width: 37.5px;
            opacity: 1;
        }

        100% {
            height: 75px;
            width: 37.5px;
            opacity: 1;
        }
    }

    .submit-btn {
        height: 45px;
        width: 200px;
        font-size: 15px;
        background-color: #00c09d;
        border: 1px solid #00ab8c;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(87,71,81,.2);
        cursor: pointer;
        transition: all .2s ease-out;
        z-index: 1;
    }

    .submit-btn:hover {
        background-color: #2ca893;
    }
}
