@font-face {
  font-family: "Tinos Regular";
  font-style: normal;
  src: url("/assets/fonts/Tinos/Tinos-Regular.ttf");
}
@font-face {
  font-family: "Tinos Italic";
  font-style: normal;
  src: url("/assets/fonts/Tinos/Tinos-Italic.ttf");
}
@font-face {
  font-family: "Tinos Blod";
  font-style: normal;
  src: url("/assets/fonts/Tinos/Tinos-BoldItalic.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Tinos Regular", sans-serif;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region text-color*/
.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #1e1e1e;
}

.text-color-red {
  color: #FF4141;
}

.text-color-pink {
  color: #e72f8b;
}

/*#endregion*/
/*#region text-style*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*#endregion*/
/*#region font-weight*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/*#endregion*/
/*#region font-family*/
.font-regular {
  font-family: "Tinos Regular";
}

.font-italic {
  font-family: "Tinos Italic";
}

.font-blod {
  font-family: "Tinos Blod";
}

/*#endregion*/
/*#region font-size */
.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 26px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-34 {
  font-size: 34px;
}

.text-38 {
  font-size: 38px;
}

/*#endregion*/
/*#region button*/
.button-white-border {
  color: #fff;
  border-block-color: #fff;
  border: 2px solid;
  background-color: transparent;
  padding: 4px 6px;
}

.button-pink {
  color: #fff;
  background-color: #e72f8b;
  padding: 4px 6px;
}

.button-red {
  color: #fff;
  background-color: #FF4141;
  border-block-color: #fff;
  border: 1px solid;
  padding: 4px 6px;
}

/*#endregion*/
/*#region summary*/
.is-divider {
  height: 3px;
  display: block;
  background-color: #E5E5E5;
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}
@media only screen and (width < 576px) {
  .is-divider {
    margin: 0.75em 0;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.div-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

/*#endregion*/
/*#region toast*/
.toast-header-success {
  padding: 0.25rem 0.5rem;
  background-color: #bae6d0;
  color: #049141;
}
.toast-header-success .ti-bell {
  font-size: 18px;
}
.toast-header-success .ti-close {
  color: #049141;
}

.toast-header-error {
  padding: 0.25rem 0.5rem;
  background-color: #e6b8b8;
  color: #d93938;
}
.toast-header-error .ti-bell {
  font-size: 18px;
}
.toast-header-error .ti-close {
  color: #d93938;
}

.toast-header-warning {
  padding: 0.25rem 0.5rem;
  background-color: #fae8ca;
  color: #fbaa29;
}
.toast-header-warning .ti-bell {
  font-size: 18px;
}
.toast-header-warning .ti-close {
  color: #fbaa29;
}

/*#endregion*/
/*#region custom-library*/
.accordion-button:not(.collapsed) {
  color: #000000;
  font-weight: 600;
  background: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}

.customCarousel .owl-nav {
  display: none;
}

.customCarousel .owl-dots {
  margin-top: 10px;
}

.icon {
  width: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  max-width: 1050px;
  min-height: 52vh;
  margin: auto;
  padding: 1.25rem 1rem;
}

@media only screen and (width >= 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media only screen and (width >= 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
/*#endregion*/
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region header*/
.headerContainer {
  top: 0;
  position: fixed;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
  background-color: #fff;
  z-index: 9;
}
.headerContainer .topHeader {
  width: 100%;
  background-color: #1e1e1e;
  z-index: 2;
  position: relative;
}
@media only screen and (width < 1200px) {
  .headerContainer .topHeader {
    padding: 0 0.75rem;
  }
}
.headerContainer .topHeader .nav {
  height: 30px;
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.headerContainer .topHeader .nav a, .headerContainer .topHeader .nav span {
  color: #fff;
  text-decoration: unset;
  font-size: 11px;
}
.headerContainer .topHeader .nav a {
  margin: 0 6px;
}
.headerContainer .topHeader .nav a:hover {
  color: #e72f8b;
}
.headerContainer .headerMain {
  max-width: 1050px;
  height: 110px;
  margin: auto;
  z-index: 2;
  position: relative;
  background-color: #fff;
}
@media only screen and (width < 1200px) {
  .headerContainer .headerMain {
    padding: 0 0.75rem;
  }
}
@media only screen and (width < 768px) {
  .headerContainer .headerMain {
    height: auto;
    padding: 0.5rem 0.75rem;
  }
}
.headerContainer .headerMain .boxCard {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}
.headerContainer .headerMain .boxCard .ti-close, .headerContainer .headerMain .boxCard .ti-search {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.headerContainer .headerMain .logo {
  max-width: 210px;
  height: auto;
}
@media only screen and (width < 576px) {
  .headerContainer .headerMain .logo {
    max-width: 160px;
  }
}
.headerContainer .headerMain .call {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 70%;
  max-width: 130px;
  border: 2px solid #333;
  border-radius: 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #000;
  opacity: 0.5;
}
.headerContainer .headerMain .call svg {
  margin-right: 6px;
}
.headerContainer .headerMain .call:hover {
  background-color: #000000;
  color: #fff;
  opacity: 1;
}
.headerContainer .headerMain .call:hover svg path {
  fill: #fff !important;
}
.headerContainer .headerMain .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerContainer .headerMain .cart .numberProductInCard {
  position: absolute;
  top: -5px;
  right: -10px;
  min-width: 20px;
  width: max-content;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #E32E2D;
}
.headerContainer .headerMain .cart .numberProductInCard span {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
.headerContainer .headerMain .cart .cartImage {
  height: auto;
  width: 1.75rem;
}
.headerContainer .headerBottom {
  max-width: 1050px;
  margin: auto;
  padding: 0.25rem 0;
}
@media only screen and (width < 1200px) {
  .headerContainer .headerBottom {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}
@media only screen and (width < 768px) {
  .headerContainer .headerBottom {
    display: none;
  }
}
.headerContainer .headerBottom .menuGroup {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem 0;
  flex-wrap: wrap;
}
.headerContainer .headerBottom .menuGroup > li {
  display: inline;
  position: relative;
  /*a:first-child {
      border-left: unset;
  }*/
}
.headerContainer .headerBottom .menuGroup > li a {
  padding: 0 14px;
  color: #000000;
  text-decoration: unset;
  border-right: 1px solid #ccc;
}
.headerContainer .headerBottom .menuGroup > li a:hover {
  color: #e72f8b;
}
.headerContainer .headerBottom .menuGroup > li .menuItem {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: max-content;
  max-height: 150px;
  background-color: #fff;
  z-index: 100;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.125);
  flex-wrap: wrap;
  flex-direction: column;
}
.headerContainer .headerBottom .menuGroup > li .menuItem a {
  border: unset;
  padding: 0;
  margin: 0 0.75rem;
  text-transform: capitalize;
}
.headerContainer .headerBottom .menuGroup > li::before {
  content: "";
  height: 20px;
  width: 60px;
  background: none;
  position: absolute;
  top: 25px;
  cursor: pointer;
  z-index: 2;
}
.headerContainer .headerBottom .menuGroup > li:last-child a {
  border-right: unset;
}
.headerContainer .headerBottom .menuGroup > li:hover .menuItem {
  display: flex;
}
.headerContainer .iconMenuMobile {
  font-size: 1.5rem;
}
.headerContainer #searchBoxMobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  border-top: 2px solid #000;
  top: -100vh;
}
.headerContainer #searchBoxMobile .searchContainer {
  width: 100%;
  height: 50vh;
  max-height: 300px;
  background-color: #fff;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.headerContainer #searchBoxMobile .searchContainer .searchBox {
  max-width: 75%;
}
.headerContainer #searchBoxMobile .virtualSearchBoxMobile {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}
.headerContainer .showSearchBoxMobile {
  animation: showSearchBoxMobile 1s forwards;
}
.headerContainer .hideSearchBoxMobile {
  animation: hideSearchBoxMobile 1s forwards;
}
@keyframes showSearchBoxMobile {
  0% {
    top: -100vh;
  }
  100% {
    top: 100%;
  }
}
@keyframes hideSearchBoxMobile {
  0% {
    top: 100%;
  }
  100% {
    top: -100vh;
  }
}
.headerContainer #menuMobile {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100vw;
}
.headerContainer #menuMobile .btnClose {
  position: absolute;
  top: 5px;
  right: 1px;
}
.headerContainer #menuMobile .btnClose span {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  padding: 3px;
  border: 1px solid #000;
}
.headerContainer #menuMobile .menuBox {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
.headerContainer #menuMobile .menuBox .logoMobile {
  border-bottom: 2px solid #000;
}
.headerContainer #menuMobile .menuBox .logoMobile img {
  width: 120px;
  height: auto;
}
.headerContainer #menuMobile .menuBox .menu {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90%;
  padding: 1rem;
}
.headerContainer #menuMobile .menuBox .menu .menuGroup {
  padding-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}
.headerContainer #menuMobile .menuBox .menu .menuGroup button {
  background-color: transparent;
  border: unset;
}
.headerContainer #menuMobile .menuBox .menu .menuGroupActive .col-10 > a {
  font-weight: bold;
}
.headerContainer #menuMobile .menuBox .menu .menuGroupActive .col-2 svg {
  transform: rotate(90deg);
}
.headerContainer #menuMobile .menuBox .menu a {
  color: #000;
  text-decoration: unset;
}
.headerContainer #menuMobile .menuBox .menu .menuItem a {
  width: 100%;
  margin: 0.25rem 0;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar {
  width: 5px;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar-track {
  background: #c1c1c1;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar-thumb {
  background: #000;
}
.headerContainer .showMenuMobile {
  animation: showMenuMobile 1s forwards;
}
.headerContainer .hideMenuMobile {
  animation: hideMenuMobile 1s forwards;
}
@keyframes showMenuMobile {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes hideMenuMobile {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
.headerContainer .searchBox {
  width: 100%;
  max-width: 260px;
  height: 35px;
  position: relative;
}
.headerContainer .searchBox .inputSearch {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  border-color: rgba(0, 0, 0, 0.09);
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 8px;
  padding-right: 35px;
}
.headerContainer .searchBox .ti-search {
  width: 30px;
  height: 100%;
  font-weight: 900;
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.headerContainer .searchBox #searchResult {
  width: 100%;
  position: absolute;
  max-height: 60vh;
  background-color: #fff7f7;
  overflow-y: scroll;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3019607843);
}
.headerContainer .searchBox #searchResult .suggest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  text-decoration: unset;
  align-items: center;
  background-color: #fff;
  padding: 4px 0;
}
.headerContainer .searchBox #searchResult .suggest img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.headerContainer .searchBox #searchResult .suggest span {
  max-width: 75%;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -line-clamp: 3;
  -webkit-box-orient: vertical;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar {
  width: 5px;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar-track {
  background: #c1c1c1;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar-thumb {
  background: #000;
}

.virtualHeader {
  width: 100%;
  height: 180px;
}
@media only screen and (width < 992px) {
  .virtualHeader {
    height: 130px;
  }
}
@media only screen and (width < 576px) {
  .virtualHeader {
    height: 110px;
  }
}
@media only screen and (width >= 768px) and (width < 994px) {
  .virtualHeader {
    height: 205px;
  }
}

/*#endregion*/
/*#region footer*/
.footerContainer {
  width: 100%;
  margin: auto;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.125);
  background-color: #000000;
  /*  .is-diliver {
      height: 3px;
      display: block;
      background-color: rgba(255,255,255,0.3);
      margin: 1em 0;
      width: 100%;
      max-width: 30px;
  }*/
}
@media only screen and (width < 1200px) {
  .footerContainer {
    padding: 0 1rem;
  }
}
.footerContainer #chatbox {
  width: 320px;
  height: 420px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #c1c1c1;
}
.footerContainer #chatbox .chatboxHeader {
  height: 10%;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background-color: #000;
  color: #e72f8b;
}
.footerContainer #chatbox .chatboxHeader span {
  font-weight: 600;
}
.footerContainer #chatbox .chatboxContent {
  height: 80%;
  padding: 4px 6px;
  overflow-y: scroll;
}
.footerContainer #chatbox .chatboxContent .response {
  display: flex;
  flex-direction: row;
}
.footerContainer #chatbox .chatboxContent .response .avatar {
  width: 50px;
  height: 50px;
}
.footerContainer #chatbox .chatboxContent .response .responseContent {
  display: flex;
  align-items: center;
}
.footerContainer #chatbox .chatboxContent .request {
  text-align: end;
}
.footerContainer #chatbox .chatboxContent::-webkit-scrollbar {
  width: 5px;
}
.footerContainer #chatbox .chatboxContent::-webkit-scrollbar-track {
  background: #c1c1c1;
}
.footerContainer #chatbox .chatboxContent::-webkit-scrollbar-thumb {
  background: #000;
}
.footerContainer #chatbox .chatboxFooter {
  height: 10%;
  border-top: 1px solid #000;
}
.footerContainer #chatbox .chatboxFooter .form-control {
  border: unset;
}
.footerContainer #chatbox .chatboxFooter .form-control:focus {
  outline: unset;
  box-shadow: unset;
}
.footerContainer #chatbot {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 110px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
.footerContainer #chatbot img {
  width: 100%;
  animation: chatbotAnimation 3s infinite;
}
@keyframes chatbotAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.footerContainer #goTop {
  background-color: #fafafa;
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 60px;
  right: 25px;
  border-radius: 50%;
  border: 3px solid #000;
  z-index: 1;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
@media only screen and (width < 768px) {
  .footerContainer #goTop {
    width: 40px;
    height: 40px;
    bottom: 50px;
  }
}
.footerContainer #goTop span {
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (width < 768px) {
  .footerContainer #goTop span {
    font-size: 16px;
  }
}
.footerContainer #goTop:hover {
  opacity: 1;
  border: 3px solid #e72f8b;
}
.footerContainer #goTop:hover span {
  color: #e72f8b;
}
.footerContainer .topFooter {
  width: 100%;
  margin: auto;
  max-width: 1080px;
}
.footerContainer .bottomFooter {
  width: 100%;
  margin: auto;
  max-width: 1080px;
}
.footerContainer ul li {
  list-style-type: none;
  padding: 8px 0;
  border-bottom: 1px solid #1e1e1e;
}
.footerContainer ul li:last-child {
  border-bottom: none;
}
.footerContainer ul li a {
  color: #fff;
  text-decoration: none;
}

/*#endregion*/
/*#region item*/
.item {
  border: 1px solid #d5d5d5;
  text-align: center;
  position: relative;
  max-width: 246px;
  height: 100%;
}
.item .showImg {
  opacity: 1;
  transition: opacity 0.5s;
}
.item .showImgHover {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
.item .squareImage {
  aspect-ratio: 1/1;
}
.item .myFavoriteProduct {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0.6;
  cursor: pointer;
}
.item .myFavoriteProduct span {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #e72f8b;
}
.item .myFavoriteProduct .love path {
  fill: #ff0080;
}
.item .coupon {
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
  padding: 6px 10px;
  /*gap: 8px;*/
  /*isolation: isolate;*/
  position: absolute;
  /*height: 36px;*/
  right: -9px;
  top: -1px;
  /*border-radius: 0px 0px 0px 2px;*/
  color: #FFFFFF;
  background: #E32E2D;
  z-index: 1;
}
.item .coupon::after {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: -8px;
  border-top: 8px solid #AF0000;
  border-right: 8px solid transparent;
}
.item .addToCart {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: absolute;
  top: -50px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}
.item .addToCart span {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #000000;
}
.item .addToCart:hover {
  border: 1px solid #e72f8b;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.item:hover .showImg {
  opacity: 0;
}

.item:hover .showImgHover {
  opacity: 1;
}

.item:hover .myFavoriteProduct {
  display: flex;
}

.item:hover {
  /*border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(136.66deg, #F8046E -9.13%, #BA014F 92.54%);*/
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.buyNow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  cursor: pointer;
}

.buyNow:hover {
  color: #e72f8b;
}

.itemInfor {
  border-top: 1px solid #d5d5d5;
  padding: 5px;
}
.itemInfor p {
  margin-bottom: 4px;
}
.itemInfor .nameProduction {
  line-height: 1.3;
}
.itemInfor .nameProduction:hover {
  color: #e72f8b;
}
.itemInfor .priceOld {
  color: #615F5C;
}
.itemInfor .discount {
  color: #e72f8b;
}
.itemInfor a {
  color: #000000;
  text-decoration: none;
}

/*#endregion*/
/*#region button-quantity*/
.quantityGroup .minusButton, .quantityGroup .plusButton {
  width: 30px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e5e7eb;
}
.quantityGroup .quantityInput {
  width: 50px;
  text-align: center;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}
.quantityGroup .quantityInput:focus {
  outline: none;
}
.quantityGroup .quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/*#endregion*/
/*#region Pagination*/
.page-item:first-child .page-link {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.page-item:last-child .page-link {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.pagination {
  margin-top: 10px;
  justify-self: center;
}
.pagination .page-item {
  margin: 0 4px;
}
.pagination .page-link {
  border: 2px solid black;
  border-radius: 100%;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination .disabled > .page-link, .pagination .page-link.disabled {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--bs-pagination-disabled-bg);
  border-color: var(--bs-pagination-disabled-border-color);
}
.pagination .active {
  pointer-events: none;
}
.pagination .page-link:hover, .pagination .active > .page-link {
  background-color: black;
  color: #fff;
  font-weight: bold;
}

/*#endregion*/
/*#region Toast*/
#toastContainer .toast-body .toastImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid #a5a1a1;
}

/*#endregion*/
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.homePage {
  max-width: 1050px;
  margin: auto;
}
@media only screen and (width < 1200px) {
  .homePage {
    max-width: 100%;
  }
}
.homePage .homeBanner {
  width: 100%;
  overflow: hidden;
  /*.categorySuggestion {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .suggestion {
          width: auto;
          max-height: 274px;
          border: 1px solid #e5e7eb;
      }
  }*/
}
.homePage .homeBanner .banner {
  width: 100%;
  max-height: 400px;
  aspect-ratio: 16/9;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homePage .homeBanner .banner .bannerIntro {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .banner .bannerIntro .tag {
  color: #ffffff;
  min-width: 90px;
  padding: 0.25rem 1rem;
  margin: 0 0.5rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-align: center;
}
.homePage .homeBanner .subBanner {
  width: 100%;
  min-height: 274px;
  border: 1px solid #e5e7eb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (width < 768px) {
  .homePage .homeBanner .subBanner {
    min-height: 200px;
  }
  .homePage .homeBanner .subBanner .subBanner1 {
    width: 80% !important;
  }
}
.homePage .homeBanner .subBanner .subBanner1, .homePage .homeBanner .subBanner .subBanner2, .homePage .homeBanner .subBanner .subBanner3 {
  position: absolute;
}
.homePage .homeBanner .subBanner .subBanner1 {
  width: 60%;
  min-height: 40%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ff2323;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.homePage .homeBanner .subBanner .subBanner1 a {
  color: #ff2323 !important;
}
.homePage .homeBanner .subBanner .subBanner2 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner2 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  background-color: #e7328e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner2 a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  width: 60%;
  padding: 0.25rem 0;
  background-color: #ff2323;
  border: 1px solid #fff;
}
.homePage .homeBanner .subBanner .subBanner3 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner3 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  color: #e6338c;
  background: black;
  opacity: 0.8;
  padding: 0.25rem 0;
  text-align: center;
}
.homePage .homeContent {
  overflow: hidden;
}
@media only screen and (width < 1200px) {
  .homePage .homeContent {
    max-width: 95%;
    margin: auto;
  }
}

.effect-snow {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/snow1.png"), url("/assets/images/snow2.png");
  -webkit-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
.effect-sparkle {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/sparkle1.png"), url("/assets/images/sparkle2.png");
  -webkit-animation: sparkle 60s linear infinite;
  animation: sparkle 60s linear infinite;
}

@keyframes sparkle {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.productPage {
  max-width: 1050px;
  margin: auto;
}
@media only screen and (width < 1200px) {
  .productPage {
    padding: 0 1rem;
  }
}
.productPage .subCategoryMenu a {
  text-decoration: unset;
  color: #000;
}
.productPage .subCategoryMenu:hover a, .productPage .menuActice a, .productPage .menuActice {
  cursor: pointer;
  color: #e72f8b;
  font-weight: bold;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.productDetailsPage {
  max-width: 1050px;
  margin: auto;
}
@media only screen and (width < 1200px) {
  .productDetailsPage {
    padding: 0 1rem;
  }
}
.productDetailsPage .summaryAboutProduct {
  max-width: 880px;
  margin: auto;
  /*.thumbnailList {
      display: flex;
      flex-direction: row;
      flex-wrap:nowrap;
      overflow-x: scroll;

      img {
          height: 150px;
          width: auto;
          border: 1px solid #e5e7eb;
      }
  }*/
}
.productDetailsPage .summaryAboutProduct .priceOld {
  color: #615F5C;
}
.productDetailsPage .summaryAboutProduct .discount {
  color: #e72f8b;
}
.productDetailsPage .summaryAboutProduct .avatar {
  max-width: 100%;
  border: 1px solid #e5e7eb;
  margin-bottom: 16px;
}
.productDetailsPage .summaryAboutProduct .thumbnail {
  height: 150px;
  width: auto;
  border: 1px solid #e5e7eb;
  opacity: 0.5 !important;
}
.productDetailsPage .summaryAboutProduct .active {
  opacity: 1 !important;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.cartPage {
  max-width: 1050px;
  min-height: 300px;
  margin: auto;
}
@media only screen and (width < 1200px) {
  .cartPage {
    padding: 0 1rem;
  }
}
.cartPage .tableHeader {
  background: #1e1e1e;
  color: #fff;
}
.cartPage .quantityGroup {
  display: flex;
  justify-content: space-between;
  border: 1px solid #3c3c3c;
  max-width: 120px;
}
.cartPage .quantityGroup .reduceQuantity {
  border-right: 1px solid #3c3c3c;
}
.cartPage .quantityGroup .increaseQuantity {
  border-left: 1px solid #3c3c3c;
}
.cartPage .quantityGroup .reduceQuantity, .cartPage .quantityGroup .increaseQuantity {
  padding: 0 0.5rem;
}
.cartPage .quantityGroup .reduceQuantity:hover, .cartPage .quantityGroup .increaseQuantity:hover {
  background: #e1e1e1;
  cursor: pointer;
}
.cartPage .quantityGroup .quantity .quantityInput {
  border: none;
  width: 100%;
  max-width: 100px;
}
.cartPage .removeCartItemBtn {
  background: #1e1e1e;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  text-align: center;
  cursor: pointer;
}
.cartPage .removeCartItemBtn:hover {
  background: #3c3c3c;
  color: #fff;
}
.cartPage .buyNow {
  background-color: #e72f8b;
  padding: 4px 6px;
  border-radius: 8%;
  color: #fff;
  text-decoration: unset;
}
.cartPage .backToProduct {
  background-color: #e72f8b;
  padding: 4px 6px;
  color: #fff;
  text-decoration: unset;
}
.cartPage .avatar {
  max-width: 60px;
  border: 1px solid #d5d5d5;
}
.cartPage tbody td {
  vertical-align: middle;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region text-color*/
.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #1e1e1e;
}

.text-color-red {
  color: #FF4141;
}

.text-color-pink {
  color: #e72f8b;
}

/*#endregion*/
/*#region text-style*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*#endregion*/
/*#region font-weight*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/*#endregion*/
/*#region font-family*/
.font-regular {
  font-family: "Tinos Regular";
}

.font-italic {
  font-family: "Tinos Italic";
}

.font-blod {
  font-family: "Tinos Blod";
}

/*#endregion*/
/*#region font-size */
.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 26px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-34 {
  font-size: 34px;
}

.text-38 {
  font-size: 38px;
}

/*#endregion*/
/*#region button*/
.button-white-border {
  color: #fff;
  border-block-color: #fff;
  border: 2px solid;
  background-color: transparent;
  padding: 4px 6px;
}

.button-pink {
  color: #fff;
  background-color: #e72f8b;
  padding: 4px 6px;
}

.button-red {
  color: #fff;
  background-color: #FF4141;
  border-block-color: #fff;
  border: 1px solid;
  padding: 4px 6px;
}

/*#endregion*/
/*#region summary*/
.is-divider {
  height: 3px;
  display: block;
  background-color: #E5E5E5;
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}
@media only screen and (width < 576px) {
  .is-divider {
    margin: 0.75em 0;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.div-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

/*#endregion*/
/*#region toast*/
.toast-header-success {
  padding: 0.25rem 0.5rem;
  background-color: #bae6d0;
  color: #049141;
}
.toast-header-success .ti-bell {
  font-size: 18px;
}
.toast-header-success .ti-close {
  color: #049141;
}

.toast-header-error {
  padding: 0.25rem 0.5rem;
  background-color: #e6b8b8;
  color: #d93938;
}
.toast-header-error .ti-bell {
  font-size: 18px;
}
.toast-header-error .ti-close {
  color: #d93938;
}

.toast-header-warning {
  padding: 0.25rem 0.5rem;
  background-color: #fae8ca;
  color: #fbaa29;
}
.toast-header-warning .ti-bell {
  font-size: 18px;
}
.toast-header-warning .ti-close {
  color: #fbaa29;
}

/*#endregion*/
/*#region custom-library*/
.accordion-button:not(.collapsed) {
  color: #000000;
  font-weight: 600;
  background: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}

.customCarousel .owl-nav {
  display: none;
}

.customCarousel .owl-dots {
  margin-top: 10px;
}

.icon {
  width: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  max-width: 1050px;
  min-height: 52vh;
  margin: auto;
  padding: 1.25rem 1rem;
}

@media only screen and (width >= 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media only screen and (width >= 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
/*#endregion*/
.paymentPage {
  max-width: 860px;
  margin: auto;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.contactPage {
  max-width: 1050px;
  min-height: 300px;
  margin: auto;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.notFoundPage {
  max-width: 1050px;
  min-height: 300px;
  margin: auto;
}

.brandContainer .imageContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.brandContainer .imageContainer .boxImage {
  border: 1px solid #ddd;
  margin: 0 10px 10px;
}
.brandContainer .imageContainer .boxImage a {
  text-align: center;
  text-decoration: unset;
  display: flex;
  flex-direction: column;
}
.brandContainer .imageContainer .boxImage a div {
  width: 100%;
  padding: 10px 0px;
  background: #fff;
  border-top: 1px solid #ddd;
  position: relative;
  border-radius: 0 !important;
  box-sizing: content-box;
  display: block;
  color: #000;
}
.brandContainer .imageContainer .boxImage img {
  max-width: 220px;
}

.boxBlog {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.boxBlog .avatar {
  width: 100%;
  aspect-ratio: 5/3;
  border: 1px solid #ddd;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.boxBlog .infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.verifyCodeForm,
.registerForm,
.loginForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.verifyCodeForm .btn-submit,
.registerForm .btn-submit,
.loginForm .btn-submit {
  border: 1px solid #000000;
  background-color: #000000;
  color: #fff;
  width: 100%;
  font-weight: 600;
}
.verifyCodeForm .btn-submit:hover,
.registerForm .btn-submit:hover,
.loginForm .btn-submit:hover {
  color: #e72f8b;
}
.verifyCodeForm .icon-password,
.registerForm .icon-password,
.loginForm .icon-password {
  position: absolute;
  top: 29px;
  right: 10px;
  padding: 5px;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.myAccountPage {
  max-width: 1050px;
  margin: auto;
  padding: 1.25rem 1rem;
  min-height: 65vh;
}
.myAccountPage .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.myAccountPage .menu .navLink {
  background-color: transparent;
  border: none;
  text-align: start;
  margin: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: #000000;
}
.myAccountPage .menu .navLink:hover,
.myAccountPage .menu .navLink.active {
  color: #e72f8b;
  font-weight: bold;
}
.myAccountPage .menu .navLink:hover path,
.myAccountPage .menu .navLink.active path {
  fill: #e72f8b;
}
.myAccountPage .btn-submit {
  border: 1px solid #000000;
  background-color: #000000;
  color: #fff;
  width: 100%;
  font-weight: 600;
}
.myAccountPage .btn-submit:hover {
  color: #e72f8b;
}
.myAccountPage .icon-password {
  position: absolute;
  top: 29px;
  right: 10px;
  padding: 5px;
}
.myAccountPage .orderBox {
  position: relative;
  width: 100%;
  border: 1px solid #000;
}
.myAccountPage .orderBox .tag {
  padding: 6px 10px;
  position: absolute;
  right: -9px;
  top: -1px;
  color: #FFFFFF;
  background: #E32E2D;
  z-index: 1;
}
.myAccountPage .orderBox .tag::after {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: -8px;
  border-top: 8px solid #AF0000;
  border-right: 8px solid transparent;
}
.myAccountPage .orderBox .btnBuyAgain {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 4px 6px;
  font-weight: bold;
}
.myAccountPage .choices {
  margin: 0;
}
.myAccountPage .disable {
  cursor: not-allowed;
  background-color: #e8e8e8;
}
.myAccountPage .choices__list--dropdown, .myAccountPage .choices__list[aria-expanded] {
  z-index: 10;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.orderPage {
  max-width: 1050px;
  margin: auto;
  padding: 1.25rem 1rem;
  min-height: 65vh;
}
.orderPage .btnOrder {
  background: #1e1e1e;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: bold;
}
.orderPage .btnOrder:hover {
  background: #3c3c3c;
  color: #fff;
}
.orderPage .orderItemList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.orderPage .orderItemList .orderItem {
  display: flex;
  padding: 4px;
  margin-bottom: 2px;
  border-bottom: 1px solid #e6e2e2;
}
.orderPage .orderItemList .orderItem .itemImage img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #a5a1a1;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
.orderPage .orderItemList .orderItem .itemDetails {
  width: 100%;
}
.orderPage .orderItemList .orderItem .itemDetails .itemName {
  font-weight: bold;
  font-size: 120%;
}
.orderPage .orderItemList .orderItem .itemDetails .itemPrice, .orderPage .orderItemList .orderItem .itemDetails .itemQuantity {
  color: #767676;
}
.orderPage .orderItemList .orderItem .itemDetails .itemQuantity {
  font-style: italic;
}
.orderPage .choices {
  margin: 0;
}
.orderPage .choices__list--dropdown, .orderPage .choices__list[aria-expanded] {
  z-index: 10;
}

/*.paymentContainer {
    display: flex;
    justify-content: center;
}*/
.paymentContainer .paymentQRCode {
  max-width: 300px;
}

.congratulationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}
.congratulationContainer .confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.congratulationContainer .confetti {
  position: absolute;
  top: -10px;
  border-radius: 0%;
  width: 10px;
  height: 10px;
  background-color: hsl(0, 100%, 50%);
}
.congratulationContainer .confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.congratulationContainer .confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.congratulationContainer .confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}
.congratulationContainer .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  margin: 20px auto;
}
.congratulationContainer .checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #00C09D;
  position: absolute;
}
.congratulationContainer .checkmark-circle .checkmark.draw:after {
  animation: checkmark 3s ease forwards;
  transform: scaleX(-1) rotate(135deg);
  animation-delay: 0.1s;
}
.congratulationContainer .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px;
  content: "";
  left: 25px;
  top: 75px;
  position: absolute;
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
.congratulationContainer .submit-btn {
  height: 45px;
  width: 200px;
  font-size: 15px;
  background-color: #00c09d;
  border: 1px solid #00ab8c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 1;
}
.congratulationContainer .submit-btn:hover {
  background-color: #2ca893;
}
