@charset "UTF-8";
.page-container {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.page-container .surveyForm {
  max-width: 900px;
  justify-self: center;
  padding: 5px 20px;
  background-color: #fff;
}
.page-container .surveyForm .surveyTitle {
  text-align: center;
  font-weight: bold;
}
.page-container .surveyForm .surveyDescription {
  font-style: italic;
}
.page-container .surveyForm .questionGroupContainer .questionGroupName {
  font-size: 120%;
  font-weight: bold;
}
.page-container .surveyForm .questionGroupContainer .questionContainer .answerLabel {
  font-style: italic;
  font-size: 90%;
}
.page-container .surveyForm .questionGroupContainer .rating {
  height: 40px;
  width: 200px;
}
.page-container .surveyForm .questionGroupContainer .rating > * {
  float: right;
}
@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
.page-container .surveyForm .questionGroupContainer .rating label {
  height: 40px;
  cursor: pointer;
}
.page-container .surveyForm .questionGroupContainer .rating label:nth-of-type(5):after {
  animation-delay: 0.25s;
}
.page-container .surveyForm .questionGroupContainer .rating label:nth-of-type(4):after {
  animation-delay: 0.2s;
}
.page-container .surveyForm .questionGroupContainer .rating label:nth-of-type(3):after {
  animation-delay: 0.15s;
}
.page-container .surveyForm .questionGroupContainer .rating label:nth-of-type(2):after {
  animation-delay: 0.1s;
}
.page-container .surveyForm .questionGroupContainer .rating label:nth-of-type(1):after {
  animation-delay: 0.05s;
}
.page-container .surveyForm .questionGroupContainer .rating label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  content: "☆";
  color: #444;
  /*top: 0;
          left: 0;
          width: 100%;
          height: 100%;*/
  text-align: center;
  font-size: 30px;
  animation: 1s pulse ease;
}
.page-container .surveyForm .questionGroupContainer .rating label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.page-container .surveyForm .questionGroupContainer .rating input {
  display: none;
}
.page-container .surveyForm .questionGroupContainer .rating input:checked + label:after,
.page-container .surveyForm .questionGroupContainer .rating input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}
.page-container .surveyForm .btn-submit {
  font-weight: bold;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}
.page-container .surveyForm .btn-submit:hover {
  color: #fff;
  background: #000;
}
