.customInput {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cui-body-color);
    appearance: none;
    background-color: var(--cui-body-bg);
    background-clip: padding-box;
    border: var(--cui-border-width) solid var(--cui-border-color);
    border-radius: var(--cui-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.customInput:focus {
    color: var(--cui-body-color);
    background-color: var(--cui-body-bg);
    border-color: rgb(171.5, 170.5, 234.5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(88, 86, 214, 0.25);
}
