// .surveyPage {
//     width: 100%;
//     margin: auto;
//     background: #D7B075;
//     font-family: 'Roboto Regular';

//     .surveyFormContainer {
//         max-width: 768px;
//         min-height: 100vh;
//         margin: auto;
//         border: 1px solid #F8D394;
//         background: #fff;
//         border: 1px solid;
//         border-image-slice: 1;
//         border-image-source: linear-gradient(136.66deg, #926936 -9.13%, #ffda9a 92.54%);
//         background-image: url(../../../../assets/images/Frame_47454.webp);
//         background-repeat: repeat;

//         .header {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             align-items: center;
//             border-bottom: 3px solid;
//             border-image-slice: 1;
//             border-image-source: linear-gradient(136.66deg, #926936 -9.13%, #ffda9a 92.54%);
//             padding: 5px 10px;

//             .logo {
//                 width: 150px;
//             }

//             .language {
//                 text-decoration: none;
//                 color: #926936;
//                 font-weight: 800;
//                 cursor: pointer;
//             }

//             .language:hover {
//                 color: #D7B075;
//             }
//         }

//         .body {
//             padding: 10px 15px;

//             @media only screen and (width < 576px) {
//                 padding: 0.5rem 0.75rem;
//             }
//         }
//     }
// }