<h1>Action List</h1>
@if (eActionList.length > 0) {
  <div class="d-flex justify-content-end mb-2">
    <button (click)="toggleLiveCreateModel()" class="btn btn-success">Create</button>
  </div>
}
<app-data-table [data]="pageInformation"
(changePageIndex)="onPageIndexChange($event)" (changePageSize)="onPageSizeChange($event)">
<thead class="text-nowrap text-truncate">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Label</th>
    <th scope="col">Name</th>
    <th scope="col">Priority</th>
    <th></th>
  </tr>
</thead>
<tbody>
  @for (item of data.items; track item.id; let i = $index) {
    <tr>
        <td>{{ i+1 }}</td>
        <td>{{ item.label }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.priority }}</td>
        <td>
          <div class="d-flex justify-content-end">
            <button (click)="updateData(item.id)" class="btn btn-primary me-2">View</button>
          </div>
        </td>
    </tr>
  }
</tbody>
</app-data-table>

<!-- Create Modal -->
<c-modal backdrop="static" [visible]="visibleCreateModal" (visibleChange)="handleLiveCreateModelChange($event)" id="verticallyCenteredCreateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Create Brand</h5>
    <button (click)="toggleLiveCreateModel()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="createForm" (ngSubmit)="onSubmitCreateForm()">
    <c-modal-body>

    <div class="mb-2">
        <label for="priority">Priority:</label>
        <input formControlName="priority" type="number" class="priorityInput ms-2" />
        @if (priorityCreateForm?.invalid && (priorityCreateForm?.dirty || priorityCreateForm?.touched)) {
          <div class="text-danger">
            @if (priorityCreateForm?.hasError('min') || priorityCreateForm?.hasError('max')) {
              <div>
                Priority must be between 1 and 100.
              </div>
            }
          </div>
        }
    </div>
      <div class="mb-2 row">
        <div class="col-6">
          <label cLabel for="label">Label: <span class="text-danger">(*)</span></label>
          <select cFormControl formControlName="label" cSelect>
            <option value="" disabled>Select label</option>
            @for (label of eActionList; track $index) {
              <option [value]="label">{{ label }}</option>
            }
          </select>
          @if (labelCreateForm?.invalid && (labelCreateForm?.dirty || labelCreateForm?.touched)) {
            <div class="text-danger">
              @if (labelCreateForm?.hasError('required')) {
                <div>
                  Label is required.
                </div>
              }
            </div>
          }
        </div>
        <div class="col-6">
          <label cLabel for="name" class="me-2">Name: <span class="text-danger">(*)</span> </label>
          <input cFormControl formControlName="name">
          @if (nameCreateForm?.invalid && (nameCreateForm?.dirty || nameCreateForm?.touched)) {
            <div class="text-danger">
              @if (nameCreateForm?.hasError('required')) {
                <div>
                  NameEN is required.
                </div>
              }
            </div>
          }
        </div>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveCreateModel()" cButton color="secondary">
        Close
      </button>
      <button cButton type="submit" [disabled]="!createForm.valid" color="primary">Save</button>
    </c-modal-footer>
  </form>
</c-modal>
<!--Update Model-->
<c-modal backdrop="static" [visible]="visibleUpdateModal" (visibleChange)="handleLiveUpdateModelChange($event)" id="verticallyCenteredUpdateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Update Brand</h5>
    <button (click)="toggleLiveUpdateModel()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmitUpdateForm()">
    <c-modal-body>
      <label for="priority">Priority:</label>
        <input formControlName="priority" type="number" class="priorityInput ms-2" />
        @if (priorityUpdateForm?.invalid && (priorityUpdateForm?.dirty || priorityUpdateForm?.touched)) {
          <div class="text-danger">
            @if (priorityUpdateForm?.hasError('min') || priorityUpdateForm?.hasError('max')) {
              <div>
                Priority must be between 1 and 100.
              </div>
            }
          </div>
        }
        <div class="mb-2 row">
        <div class="col-6">
          <label cLabel for="label">Label: <span class="text-danger">(*)</span></label>
          <input cFormControl formControlName="label" readonly>
        </div>   
        <div class="col-6">
          <label cLabel for="name" class="me-2">Name: <span class="text-danger">(*)</span> </label>
          <input cFormControl formControlName="name">
          @if (nameUpdateForm?.invalid && (nameUpdateForm?.dirty || nameUpdateForm?.touched)) {
            <div class="text-danger">
              @if (nameUpdateForm?.hasError('required')) {
                <div>
                  NameEN is required.
                </div>
              }
            </div>
          }
        </div> 
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveUpdateModel()" cButton color="secondary">
        Close
      </button>
      <button cButton type="submit" [disabled]="!updateForm.valid" color="primary">Save</button>
    </c-modal-footer>
  </form>
</c-modal>