<!-- <table cTable class="w-100">
  <thead>
    <tr cTableColor="info">
      <th scope="col">STT</th>
      <th scope="col">Hình Ảnh</th>
      <th scope="col">Mã</th>
      <th scope="col">Tên</th>
      <th scope="col">Hoạt Động</th>
      <th scope="col">Tạo Bởi</th>
      <th scope="col">Cập Nhật Bởi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-content *ngFor="let item of groups; index as i">
      <tr>
        <td>{{ i+1 }}</td>
         <td>
          <ng-container *ngIf="item.imagePath">
            <img [src]="baseUrl + item.imagePath" alt="Logo" class="img-thumbnail">
          </ng-container>
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.isActive }}</td>
        <td>{{ item.createdBy }}</td>
        <td>{{ item.modifiedBy }}</td>

        <td>
          <div class="d-flex justify-content-end">
            <button (click)="showSubItems(item.id)" class="btn btn-info me-2" *ngIf="(item?.children?.length ?? 0) > 0">
              <svg [cIcon]="icons.cilBook" width="25" class="text-white" title="Book Icon"></svg>
            </button>
            <button (click)="toggleLiveCreateModel(item.id)" class="btn btn-success me-2">
              <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
            </button>
            <button (click)="updateData(item.id)" class="btn btn-primary {{ (item?.children?.length ?? 0) <= 0 ? 'me-2' : '' }}">
              <svg [cIcon]="icons.cilPen" width="25" class="text-white" title="Edit Icon"></svg>
            </button>
            <button (click)="softDeleteData(item.id)" class="btn btn-danger" *ngIf="(item?.children?.length ?? 0) <= 0">
              <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="(item?.children?.length ?? 0) > 0">
        <td colspan="7" class="p-0">
          <div [visible]="visibleSubItems()[item.id]" cCollapse>
            <c-card class="border-0 shadow-none ps-4 mb-2">
              <app-dish-group-tree
                [groups]="item.children ?? []"
                [toggleLiveCreateModel]="toggleLiveCreateModel"
                [updateData]="updateData"
                [softDeleteData]="softDeleteData"
                [icons]="icons"
              ></app-dish-group-tree>
            </c-card>
          </div>
        </td>
      </tr>
    </ng-content>
  </tbody>
</table> -->
