// .surveyPage {
//   background-color: #000;
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .surveyFormContainer {
//     max-width: 768px;
//     min-height: 100vh;
//     margin: 0 auto;
//     background-color: #f9f9f9;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     border: 1px solid #5d0000;

//     .header {
//       padding: 1rem;
//       background-color: #4c4c4c;
//       color: #fff;
//     }

//     .body {
//       padding: 1rem 2rem;
//       @media only screen and (width < 576px) {
//         padding: 0.5rem 0.75rem;
//       }

//       .surveyTitle {
//         text-align: center;
//         font-weight: bold;
//       }

//       // .surveyDescription {
//       //   text-align: justify;
//       // }

//       .questionGroupTitle{
//         padding: 0.25rem 0.5rem;
//         background-color: #000000;
//         border: 1px solid #ccc;
//         color: #ffffff;
        
//       }
//       .radioGroup{
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         gap: 5rem;
//                       @media only screen and (width < 768px) {
//                 gap: 2.25rem;

//       }
//               @media only screen and (width < 576px) {
//                 gap: 1rem;

//       }

//         li{
//           list-style: none;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           input[type="radio"]{
//             margin-right: 0.25rem;
//           }
//         }
//       }

//       .btnSubmit {
//         width: 80%;
//         background-color: #4c4c4c;
//         color: #fff;

//         &:hover {
//           background-color: #3a3a3a;
//           color: #fff;
//         }
//       }
//     }
//   }
// }