@import "VariableGlobal.scss";
/*#region banner*/
.aboutBanner {
    background-image: url('../assets/images/about/banner.jpg');
}
/*#endregion*/
/*#region our story*/
.ourStoryWrapper {
    background-image: url('../assets/images/about/our-story-background.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 229px 0 252px;

    @include respond(map-get($breakPoint,"lg")) {
        padding: 129px 0 152px;
    }

    @include respond(map-get($breakPoint,"md")) {
        padding: 89px 0 112px;
    }

    @include respond(map-get($breakPoint,"sm")) {
        padding: 50px 0 50px;
    }

    .ourStory1, .ourStory2 {
        position: absolute;
    }

    .ourStory1 {
        right: 0;
        top: 150px;

        @include respond(map-get($breakPoint,"lg")) {
            top: 50px;
        }
    }

    .ourStory2 {
        left: 0;
        bottom: 150px;

        @include respond(map-get($breakPoint,"lg")) {
            bottom: 50px;
        }
    }

    .ourStoryContent {
        padding: 23px 20px;
        background: #181818;
        width: 53.84%;
        margin: auto;
        text-align: center;
        position: relative;
        z-index: 9;

        .inner {
            border: 1px solid #accadd;
            padding: 101px 54px 80px;
        }

        p {
            line-height: 2;
            margin-bottom: 60px;
        }

        .heading {
            margin-bottom: 35px;

            h2 {
                font-size: 55px;
                font-weight: 400;
            }
        }

        .name {
            display: inline-block;
            margin-left: 1px;

            h6 {
                font-weight: 600;
                font-size: 17px;
                margin-bottom: 3px;
            }
        }

        .borderPlace {
            transform: translate(-8px, -11px);
        }

        @media (max-width: 1500px) {
            .inner {
                padding: 64px 34px 51px;
            }

            .heading {
                margin-bottom: 25px;
            }

            p {
                margin-bottom: 40px;
            }
        }

        @include respond(map-get($breakPoint,"lg")) {
            width: 60%;

            .heading h2 {
                font-size: 45px;
            }
        }

        @include respond(map-get($breakPoint,"md")) {
            width: 80%;

            .inner {
                padding: 44px 34px 31px;
            }

            img {
                display: none;
            }

            .heading h2 {
                font-size: 40px;
            }
        }

        @include respond(map-get($breakPoint,"sm")) {
            width: 100%;
            padding: 10px;

            .inner {
                padding: 50px 20px;
            }

            p {
                margin-bottom: 30px;
            }

            .heading h2 {
                font-size: 35px;
            }
        }
    }
}
/*#endregion*/

/*#region our best service*/
.ourService {
    background: url('../assets/images/about/our-service-bg.jpg') center center;
    background-size: cover;

    .ourServiceCol {
        /*color: #fff;*/
        text-align: center;
        border: 2px solid #80694d;
        height: 100%;
        padding: 45px 21px 39px;
        background: #cdaa7c;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @include respond(map-get($breakPoint,"md")) {
            margin-bottom: 30px;
            height: auto;
        }

        h3 {
            /*font-size: 30px;*/
            font-weight: 400;
            /*color: #fff;*/
            margin-bottom: 24px;
        }

        p {
            margin-top: 19px;
            line-height: 1.8;
        }
    }

    .ourServiceCol:hover {
        background: transparent;
        border: 2px solid #cdaa7c;
    }
}
/*#endregion*/

/*#region about us*/
.aboutUs {
    .imageHolder {
        height: 100%;
        background-size: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include respond(map-get($breakPoint,"sm")) {
                height: auto;
            }
        }
    }

    .aboutUsCol {
        background: #eae7de;
        padding: 89px 50px 86px;
        height: 100%;

        @include respond(map-get($breakPoint,"md")) {
            padding: 39px 30px 36px;
        }

        .section-header {
            text-align: left;
            margin-bottom: 34px;
        }

        p {
            margin-bottom: 39px;
            line-height: 2;
        }

        .btnReadMore {
            text-transform: uppercase;
            /*color: #333;*/
            text-decoration: underline;
            display: inline-block;
        }
    }
}
@media (min-width: 768px) {
    .px-md-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
/*#endregion*/
