@import "VariableGlobal.scss";
/*#region banner*/
.contactBanner {
    background-image: url('../assets/images/contact/banner.jpg');
}
/*#endregion*/

/* #region contact us*/
.contactUsContent {
    @include respond(map-get($breakPoint,"sm")) {
        margin-bottom: 50px;
    }

    h3 {
        font-size: $text-level-3;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 89px;

        @include respond(map-get($breakPoint,"lg")) {
            margin-bottom: 36px;
        }
    }

    .contactUsCol {
        h5 {
            margin-bottom: 11px;
        }

        .body {
            margin-bottom: 53px;
        }

        .address {
            margin-bottom: 28px;
        }

        span, a {
            display: block;
            color: $color_dark_grey_666666;
            text-decoration: none;
        }
    }

    .social a {
        color: $color_grey_999999;
        text-decoration: none;
        font-size: $text-level-8;
        margin-right: 16px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
.contactUsForm {
    padding-top: 7px;

    .formHolder {
        margin-bottom: 30px;
        position: relative;
    }

    .form-control {
        height: 60px;
        border: 1px solid #e5e5e5;
        padding: 0 19px;
        color: $color_grey_999999;
        font-size: $text-level-11;
    }

    textarea.form-control {
        padding: 18px 19px;
        height: 200px;
    }
}
/* #endregion */
/* #region map */
.contactUsMapHolder {
    height: 450px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    iframe {
        height: 100%;
        width: 100%;
        background-color: rgb(229, 227, 223);
    }

    @include respond(map-get($breakPoint,"md")) {
        height: 400px;
    }
}
/* #endregion*/