@import "VariableGlobal.scss";

/*#region text-color*/
.text-color-white{
    color: $color_white_fff;
}
.text-color-black{
    color: $color_black_000000;
}
//.text-color-red{
//    color: $color_red_FF4141;
//}
//.text-color-pink {
//    color: $color_pink_e72f8b;
//}
.text-color-yellow {
    color: $color_yellow_CDAA7C;
}
.text-color-dark-grey {
    color: $color_dark_grey_333333;
}
.text-color-grey {
    color: $color_grey_999999;
}
/*#endregion*/

/*#region text-style*/
.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
/*#endregion*/

/*#region font-weight*/
.font-weight-300 {
    font-weight: 300;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}
/*#endregion*/

/*#region font-family*/
//.font-regular {
//    font-family: "Tinos Regular";
//}
//.font-italic {
//    font-family: "Tinos Italic";
//}
//.font-blod {
//    font-family: "Tinos Blod";
//}
.font-raleway-semibold {
    font-family: "Raleway SemiBold";
}
.font-raleway-bold {
    font-family: "Raleway Bold";
}

.font-satisfy-regular {
    font-family: "Satisfy Regular";
}

.font-raleway-regular {
    font-family: "Raleway Regular";
}

.font-bitter-regular {
    font-family: "Bitter Regular";
}

.font-satisfy-regular {
    font-family: "Satisfy Regular";
}
/*#endregion*/
/*#region font-size */
.text-40 {
    font-size: 40px;
}
.text-35 {
    font-size: 35px;
}
.text-30{
    font-size: 30px;
}
.text-25 {
    font-size: 25px;
}
.text-20 {
    font-size: 20px;
}
.text-18 {
    font-size: 18px;
}
.text-16 {
    font-size: 16px;
}
.text-15 {
    font-size: 15px;
}
.text-14 {
    font-size: 14px;
}


@include respond(map-get($breakPoint,"md")) {
}
/*#endregion*/

/*#region button*/
.button-white-border {
    color: $color_white_fff;
    border-block-color: $color_white_fff;
    border: 2px solid;
    background-color: transparent;
    padding: 4px 6px;
}
.au-btn.medium {
    width: 174px;
}

.au-btn {
    display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    width: 152px;
    height: 42px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $color_white_fff;
    border: none;
    overflow: hidden;
    cursor: pointer;
    background: none;
    background: $color_dark_grey_333333;
    border-radius: 21px;
}
/*#endregion*/

/*#region summary*/
.is-divider {
    height: 3px;
    display: block;
    background-color: #E5E5E5;
    margin: 1em 0;
    width: 100%;
    max-width: 30px;

    @include respond(map-get($breakPoint,"xs")) {
        margin: 0.75em 0;
    }
}

.opacity-30 {
    opacity: 0.3;
}

.div-line {
    width: 100%;
    height: 2px;
    background-color: $color_black_000000;
}
/*#endregion*/

/*#region toast*/
.toast-header-success {
    padding: 0.25rem 0.5rem;
    background-color: #bae6d0;
    color: #049141;

    .ti-bell {
        font-size: 18px;
    }

    .ti-close {
        color: #049141;
    }
}

.toast-header-error {
    padding: 0.25rem 0.5rem;
    background-color: #e6b8b8;
    color: #d93938;

    .ti-bell {
        font-size: 18px;
    }

    .ti-close {
        color: #d93938;
    }
}

.toast-header-warning {
    padding: 0.25rem 0.5rem;
    background-color: #fae8ca;
    color: #fbaa29;

    .ti-bell {
        font-size: 18px;
    }

    .ti-close {
        color: #fbaa29;
    }
}

/*#endregion*/
/*#region custom-library*/
.accordion-button:not(.collapsed) {
    color: $color_black_000000;
    font-weight: 600;
    background: unset;
}

.accordion-button:focus {
    box-shadow: unset;
}

.customCarousel .owl-nav {
    display: none;
}

.customCarousel .owl-dots {
    margin-top: 10px;
}

.icon {
    width: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.page-container {
    max-width: $maxWidthContent;
    min-height: 52vh;
    margin: auto;
    padding: 1.25rem 1rem;
}

@media only screen and (width >= 768px) {
    .w-md-100 {
        width: 100% !important;
    }
}

@media only screen and (width >= 576px) {
    .w-sm-100 {
        width: 100% !important;
    }
}
/*#endregion*/

/*#region Banner*/
.banner-background {
    background-attachment: fixed;
    background-position: top;
    height: 550px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;

    @include respond(map-get($breakPoint,"lg")) {
        height: 450px;
    }

    @include respond(map-get($breakPoint,"md")) {
        height: 350px;
    }
}

.banner-background .section-header {
    position: absolute;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    margin-bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 35%;
    width: 100%;

    @include respond(map-get($breakPoint,"md")) {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    @include respond(map-get($breakPoint,"sm")) {
        width: 100%;
    }
}

.section-header {
    text-align: center;
    margin-bottom: 70px;

    @include respond(map-get($breakPoint,"md")) {
        margin-bottom: 50px;
    }
}

.section-header h1, .section-header h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: $fontRalewayBold;
}

.section-header span {
    display: block;
    color: #cdaa7c;
    font-family: $fontSatisfyRegular;
    font-size: 30px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*#endregion */

/*#region custom-section*/
.section-primary {
    padding-top: 139px;
    padding-bottom: 116px;

    @include respond(map-get($breakPoint,"lg")) {
        padding-top: 110px;
        padding-bottom: 90px;
    }

    @include respond(map-get($breakPoint,"md")) {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    @include respond(map-get($breakPoint,"sm")) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
/*#endregion*/
