@import "VariableGlobal.scss";
/*#region banner*/
.reservationBanner {
    background-image: url('../assets/images/reservation/banner.jpg');
}
/*#endregion*/
/*#region section form*/
.sectionForm {
    .formInner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .formCol {
        width: 30.4%;
        margin-bottom: 43px;

        .formHolder {
            position: relative;

            span.primary-color {
                color: $color_dark_grey_666666;
            }

            span {
                position: absolute;
                right: 0;
                bottom: 8px;
                font-size: $text-level-14;
                color: $color_light_grey_CCCCCC;
            }
        }

        .form-control.style {
            border-bottom: 1px solid $color_dark_grey_333333;
            color: $color_dark_grey_666666;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 31px;
            border-bottom: 1px solid $color_light_grey_CCCCCC;
            font-size: 18px;
            color: $color_light_grey_CCCCCC;
            background: none;
            border: none;
            padding: 0;
            border-radius: 0;
            line-height: 1.5;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
/*#endregion*/

/*#region reservation*/
.reservation {
    padding-bottom: 116px;

    img {
        width: 100%;
    }

    .info {
        margin-top: 45px;

        h5 {
            text-transform: uppercase;
            margin-bottom: 9px;
        }

        p {
            white-space: nowrap;
        }

        .openingCol {
            p {
                display: inline-block;
                margin-right: 35px;
                white-space: nowrap;

                span {
                    display: block;
                    color: $color_dark_grey_333333;
                    font-family: $fontRalewaySemiBold;
                    font-weight: 600;
                }
            }
        }

        .support {
            padding-left: 80px;

            .address, .phone {
                margin-right: -10px;
            }

            a, p {
                color: $color_dark_grey_666666;
            }

            .address span {
                margin-right: 8px;
            }

            a span, p span {
                font-family: $fontRalewayBold;
                font-weight: 700;
                margin-right: 5px;
            }

            .phone span {
                margin-right: 12px;
            }

            .email, .website {
                padding-left: 14px;
            }

            .email span {
                margin-right: 8px;
            }

            .website span {
                margin-right: 3px;
            }
        }

        .social {
            padding-top: 27px;

            a {
                color: $color_grey_999999;
                text-decoration: none;
                font-size: $text-level-8;
                margin-right: 16px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }

    a {
        text-decoration: none;
        color: $color_dark_grey_666666;
    }
}
/*#endregion*/