@font-face {
    font-family: "Bitter Regular";
    font-style: normal;
    src: url("/assets/fonts/Bitter/Bitter-Regular.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    font-style: normal;
    src: url("/assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway SemiBold";
    font-style: normal;
    src: url("/assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Satisfy Regular";
    font-style: normal;
    src: url("/assets/fonts/Satisfy/Satisfy-Regular.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "Raleway Regular",sans-serif;
    color: #666;
    font-size: 15px;
    font-weight: 400;

    @media (max-width: 1200px) {
        font-size: 14px;
    }
}