@import "root.scss";
@import "general.scss";
@import "layout.scss";
@import "home.scss";
@import "aboutUs.scss";
@import "category.scss";
@import "reservation.scss";
@import "contact.scss";
@import "blog.scss";
