.imageReview {
    img {
        max-height: 180px;
        width: auto;
        margin-right: 10px;
        border: 1px #CED4DA solid;
        border-radius: 10px;
        padding: 5px;
        margin-left: 5px;
    }
}
.imageList {
    display: flex;
    flex-direction: row;
    overflow: auto;
    .imageDemo {
        position: relative;
        width: fit-content;

        img {
          max-height: 180px;
          width: auto;
          margin-right: 10px;
          border: 1px #CED4DA solid;
          border-radius: 10px;
          padding: 5px;
          margin-left: 5px;
        }
    }
    .iconRemove {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 200;
        padding: 5px 5px;
        background-color: white;
        border: 1px solid #606061;
        border-radius: 5px;
        :hover {
            cursor: pointer;
        }
    }
  }