@{
	ViewData["Title"] = "Reservation";
}
<section class="banner-background reservationBanner">
	<div class="section-header">
		<h1 class="text-white">Reservation</h1>
		<span>~ For the best location ~</span>
	</div>
</section>

<section class="section-primary sectionForm">
	<div class="container">
		<div class="section-header">
			<h2>Book a table</h2>
			<span>~ Check out our place ~</span>
		</div>
		<form>
			<div class="formInner">
				<div class="formCol">
					<div class="formHolder">
						<input type="text" class="form-control style" placeholder="Name" />
					</div>
				</div>
				<div class="formCol">
					<div class="formHolder">
						<input type="text" class="form-control style" placeholder="Phone" />
					</div>
				</div>
				<div class="formCol">
					<div class="formHolder">
						<input type="text" class="form-control style" placeholder="Email" />
					</div>
				</div>
			</div>
			<div class="btn-holder">
				<div class="au-btn round au-btn--hover has-bg">Book now</div>
			</div>
		</form>
	</div>
</section>

<section class="section-primary reservation">
	<div class="container">
		<img src="~/assets/images/reservation/reservation.jpg" alt="Reservation" />
		<div class="info">
			<div class="row justify-content-between">
				<div class="col-md-4 col-xl-3">
					<div class="openingCol">
						<h5>Opening hours</h5>
						<div class="d-flex">
							<p>
								<span>Monday - Saturday</span>
								7am - 10pm
							</p>
							<p>
								<span>Sunday</span>
								9am - 8pm
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-xl-7">
					<div class="support">
						<h5>Reservations support</h5>
						<div class="row">
							<div class="col-xl-6">
								<p class="address">
									<span>Address:</span>
									40 Maria Street 133/2 New York
								</p>
								<p class="phone">
									<a href="tel:+15618003666666">
										<span>Phone:</span>
										+ (156) 1800-366-6666
									</a>
								</p>
							</div>
							<div class="col-xl-6">
								<p class="email">
									<a href="#">
										<span>Email:</span>
										Eric-82@example.com
									</a>
								</p>
								<p class="website">
									<a href="#">
										<span>Website:</span>
										www.royate.com
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto">
					<div class="social">
						<a href="#">
							<i class="zmdi zmdi-twitter"></i>
						</a>
						<a href="#">
							<i class="zmdi zmdi-facebook-box"></i>
						</a>
						<a href="#">
							<i class="zmdi zmdi-linkedin"></i>
						</a>
						<a href="#">
							<i class="zmdi zmdi-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>