<h3 class="fw-bold">Update Question Library</h3>
<c-card>
    <c-card-body>
        <form cForm [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <div class="mb-2 d-flex flex-row">
                <c-form-check class="me-2 d-flex align-items-center">
                    <input cFormCheckInput formControlName="isActive" id="isActive" class="me-2" type="checkbox" />
                    <label cFormCheckLabel for="isActive" class="me-2">Is Active </label>
                </c-form-check>
                <div>
                    <label for="priority" class="me-2">Priority: </label>
                    <input formControlName="priority" type="number" class="me-2 number-control">
                    @if (priority?.invalid && (priority?.dirty || priority?.touched)) {
                    <div class="text-danger">
                        @if (priority?.hasError('min') || priority?.hasError('max')) {
                        <div>
                            Priority must be between 1 and 999.
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="questionTypeId">Select Question type: <span
                            class="text-danger">(*)</span></label>
                    <app-select-search [options]="questionTypeList" [selectedValue]="selectedQuestionType()"
                        (onChangeValue)="onchangeQuestionType($event)"></app-select-search>
                </div>
                <div class="col-6">
                    <label cLabel for="QuestionGroupLibraryId">Select Question group: <span
                            class="text-danger">(*)</span></label>
                    <app-select-search [options]="questionGroupList" [selectedValue]="selectedQuestionGroup()"
                        (onChangeValue)="questionForm.patchValue({QuestionGroupLibraryId: $event})"></app-select-search>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="nameEN">NameEN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameEN" type="text" />
                    @if (nameEN?.invalid && (nameEN?.dirty || nameEN?.touched)) {
                    <div class="text-danger">
                        @if (nameEN?.hasError('required')) {
                        <div>Enter NameEN, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="nameVN">NameVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameVN" type="text" />
                    @if (nameVN?.invalid && (nameVN?.dirty || nameVN?.touched)) {
                    <div class="text-danger">
                        @if (nameVN?.hasError('required')) {
                        <div>Enter NameVN, please!</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-12">
                    <label cLabel for="note">Note:</label>
                    <textarea cFormControl formControlName="note" rows="3"></textarea>
                </div>
            </div>
            @if(showPredefinedAnswerTable()) {
    
            <div class="d-flex justify-content-between align-items-center customTitle mt-4">
                <span>Predefined Answers</span>
                <div class="d-flex justify-content-end">
                    <button cButton type="button" class="btn-success text-white d-flex align-items-center"
                        (click)="showCreatePredefinedAnswerForm()" [disabled]="visibleCreatePredefinedAnswerForm()">
                        <svg [cIcon]="icons.cilPlus" width="22" class="text-white" title="Plus Icon"></svg>
                    </button>
                </div>
            </div>
            <table [hover]="true" [responsive]="true" cTable>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>NameEN</th>
                        <th>NameVN</th>
                        <th>Priority</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Predefined Answer Form Row -->
                    @if(visibleCreatePredefinedAnswerForm()) {
                    <tr [formGroup]="createPredefinedAnswerForm" class="adding">
                        <td class="new-id">New</td>
                        <td>
                            <input type="text" formControlName="nameEN" class="form-control"
                                placeholder="Enter predefined answer name in English">
                            @if (nameENCreatePredefinedAnswerForm?.invalid && (nameENCreatePredefinedAnswerForm?.dirty
                            ||
                            nameENCreatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (nameENCreatePredefinedAnswerForm?.hasError('required')) {
                                <div>Enter Name, please!</div>
                                }
                            </div>
                            }
                        </td>
                        <td>
                            <input type="text" formControlName="nameVN" class="form-control"
                                placeholder="Enter predefined answer name in Vietnamese">
                            @if (nameVNCreatePredefinedAnswerForm?.invalid && (nameVNCreatePredefinedAnswerForm?.dirty
                            ||
                            nameVNCreatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (nameVNCreatePredefinedAnswerForm?.hasError('required')) {
                                <div>Enter Name, please!</div>
                                }
                            </div>
                            }
                        </td>
                        <td>
                            <input type="number" formControlName="priority" class="form-control number-control" min="1"
                                max="255">
                            @if (priorityCreatePredefinedAnswerForm?.invalid &&
                            (priorityCreatePredefinedAnswerForm?.dirty
                            ||
                            priorityCreatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (priorityCreatePredefinedAnswerForm?.hasError('min') ||
                                priorityCreatePredefinedAnswerForm?.hasError('max')) {
                                <div>Priority must be between 1 and 255.</div>
                                }
                            </div>
                            }
                        </td>
                        <td class="d-flex justify-content-end">
                            <button cButton type="button" (click)="onSubmitCreatePredefinedAnswer()"
                                class="btn btn-primary me-2" [disabled]="createPredefinedAnswerForm.invalid">
                                <svg [cIcon]="icons.cilSave" width="20" class="text-white" title="Save Icon"></svg>
                            </button>
                            <button cButton type="button" (click)="hideCreatePredefinedAnswerForm()" class="btn btn-danger">
                                <svg [cIcon]="icons.cilX" width="20" class="text-white" title="Close Icon"></svg>
                            </button>
                        </td>
    
                    </tr>
                    }
    
                    @for (item of predefinedAnswerList; track $index; let i = $index) {
                    @if(updatePredefinedAnswerIndex() !== -1 && updatePredefinedAnswerIndex() === i) {
                    <tr [formGroup]="updatePredefinedAnswerForm" class="editing">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input type="text" formControlName="nameEN" class="form-control"
                                placeholder="Enter predefined answer name in English">
                            @if (nameENUpdatePredefinedAnswerForm?.invalid && (nameENUpdatePredefinedAnswerForm?.dirty
                            ||
                            nameENUpdatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (nameENUpdatePredefinedAnswerForm?.hasError('required')) {
                                <div>Enter Name, please!</div>
                                }
                            </div>
                            }
                        </td>
                        <td>
                            <input type="text" formControlName="nameVN" class="form-control"
                                placeholder="Enter predefined answer name in Vietnamese">
                            @if (nameVNUpdatePredefinedAnswerForm?.invalid && (nameVNUpdatePredefinedAnswerForm?.dirty
                            ||
                            nameVNUpdatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (nameVNUpdatePredefinedAnswerForm?.hasError('required')) {
                                <div>Enter Name, please!</div>
                                }
                            </div>
                            }
                        </td>
                        <td>
                            <input type="number" formControlName="priority" class="form-control number-control" min="1"
                                max="255">
                            @if (priorityUpdatePredefinedAnswerForm?.invalid &&
                            (priorityUpdatePredefinedAnswerForm?.dirty
                            ||
                            priorityUpdatePredefinedAnswerForm?.touched)) {
                            <div class="text-danger">
                                @if (priorityUpdatePredefinedAnswerForm?.hasError('min') ||
                                priorityUpdatePredefinedAnswerForm?.hasError('max')) {
                                <div>Priority must be between 1 and 255.</div>
                                }
                            </div>
                            }
                        </td>
                        <td class="d-flex justify-content-end">
                            <button cButton type="button" (click)="onSubmitUpdatePredefinedAnswer()"
                                class="btn btn-primary me-2" [disabled]="updatePredefinedAnswerForm.invalid">
                                <svg [cIcon]="icons.cilSave" width="20" class="text-white" title="Save Icon"></svg>
                            </button>
                            <button cButton type="button" (click)="updatePredefinedAnswer(-1)" class="btn btn-danger">
                                <svg [cIcon]="icons.cilX" width="20" class="text-white" title="Close Icon"></svg>
                            </button>
                        </td>
    
                    </tr>
                    }@else {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.nameEN }}</td>
                        <td>{{ item.nameVN }}</td>
                        <td>{{ item.priority }}</td>
                        <td class="d-flex justify-content-end">
                            <button cButton type="button" (click)="updatePredefinedAnswer(i)" class="btn btn-primary me-2">
                                <svg [cIcon]="icons.cilPen" width="20" class="text-white" title="Edit Icon"></svg>
                            </button>
                            <button cButton type="button" (click)="deletePredefinedAnswer(item.id)" class="btn btn-danger">
                                <svg [cIcon]="icons.cilTrash" width="20" class="text-white" title="Delete Icon"></svg>
                            </button>
                        </td>
                    </tr>
                    }
    
                    }
                </tbody>
            </table>
            @if(predefinedAnswerList.length === 0) {
            <div class="py-4">
                <p class="text-center opacity-50">No Predefined Answers available. Click Button Add to get started.</p>
            </div>
            }
    
            }
            <div class="d-flex justify-content-end mt-4">
                <button cButton type="submit" type="submit" [disabled]="!questionForm.valid">
                    <svg [cIcon]="icons.cilSave" width="25" class="text-white" title="Save Icon"></svg>
                </button>
                <a cButton type="button" routerLink="/surveys/extension/question-libraries" class="ms-2 btn-info">
                     <svg [cIcon]="icons.cilExitToApp" width="25" class="text-white" title="Close Icon"></svg>
                </a>
            </div>
        </form>
    </c-card-body>
</c-card>
