<div class="congratulationContainer">
    <div class="checkmark-circle">
        <div class="background"></div>
        <div class="checkmark draw"></div>
    </div>
    <h1>Congratulations!</h1>
    <button class="submit-btn" onclick="startConfetti()">Celebrate Again</button>
    <div class="confetti-container" id="confetti-container"></div>
</div>