
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* <div class="text-center">@_localizer["noData"]</div> *@
<div id="oderHistoryData">
    <div class="orderBox d-flex mb-3">
        <div class="tag text-14">
            Delivered
        </div>
        <div class="col-3">
            <img class="w-100" src="https://lulusia.com/Lipstick/Products/2bdc314d_c7d1_4f08_9c16_9d104d546dc8.png" alt="Name of product" />
        </div>
        <div class="col-9">
            <h5>Son Espoir Merlot WN601</h5>
            <p class="mb-0">📦 Quantity: 2</p>
            <p class="mb-0">💰 Total: 100.000.000 VND</p>
            <p class="mb-0">🕓 Date: 01/05/2025</p>
            <button class="btnBuyAgain">🔁 Buy Again</button>
        </div>
    </div>
    <div class="orderBox d-flex mb-3">
        <div class="tag text-14">
            Delivered
        </div>
        <div class="col-3">
            <img class="w-100" src="https://lulusia.com/Lipstick/Products/2bdc314d_c7d1_4f08_9c16_9d104d546dc8.png" alt="Name of product" />
        </div>
        <div class="col-9">
            <h5>Son Espoir Merlot WN601</h5>
            <p class="mb-0">📦 Quantity: 2</p>
            <p class="mb-0">💰 Total: 100.000.000 VND</p>
            <p class="mb-0">🕓 Date: 01/05/2025</p>
            <button class="btnBuyAgain">🔁 Buy Again</button>
        </div>
    </div>
</div>