@using System.Share.ViewModels.LipstickClientViewModels
@model IEnumerable<ProductClientViewModel>
@if (Model != null && Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <div class="col-6 col-sm-4 col-md-3 mb-4">
            @await Html.PartialAsync("~/Views/Shared/PartialViews/_ProductPartialView.cshtml", item)
        </div>
    }
}
else
{
    <div class="text-center">@_localizer["noData"]</div>
}
