<div class="d-flex justify-content-between mb-2">
    <h3 class="fw-bold">Update Survey form</h3>
    <a cButton type="button" routerLink="/surveys/survey-forms" class="ms-2 btn-info">
        <svg [cIcon]="icons.cilExitToApp" width="25" class="text-white" title="Close Icon"></svg>
    </a>
</div>
<c-card>
    <c-card-body>
        <!-- Survey Form Creation Form -->
        <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="d-flex justify-content-between align-items-center customTitle mb-2">
                <span>1. Survey Information</span>
                <div class="d-flex justify-content-end">
                    @if(initData?.isPublished) {
                    <button class="btn btn-info me-2" (click)="toggleLiveQrCodeModal()">
                        <svg [cIcon]="icons.cilQrCode" width="25" class="text-white" title="Restore Icon"></svg>
                    </button>
                    @if(initData?.isActive){
                    <button class="btn btn-danger me-2" (click)="deactivateData(initData?.id)">
                        <svg [cIcon]="icons.cilBan" width="20" class="text-white" title="Deactivate Icon"></svg>
                    </button>
                    }@else{
                    <button class="btn btn-success me-2" (click)="activateData(initData?.id)">
                        <svg [cIcon]="icons.cilCheckCircle" width="20" class="text-white" title="Activate Icon"></svg>
                    </button>
                    }
                    }
                    <a target="_blank" routerLink="/review-form/{{initData?.id}}" class="btn btn-success me-2">
                        <svg [cIcon]="icons.cilFile" width="25" class="text-white" title="Restore Icon"></svg>
                    </a>
                    @if(!initData?.isPublished) {
                    <button class="btn btn-success me-2" (click)="toggleLivePublicModal()">
                        <app-internet-icon></app-internet-icon>
                    </button>
                    }@else{
                    <button class="btn btn-danger me-2" (click)="unPublicSurveyForm()">
                        <app-no-internet-icon></app-no-internet-icon>
                    </button>
                    }


                    <button cButton type="button" class="btn-primary text-white d-flex align-items-center"
                        (click)="enableUpdateForm()" [disabled]="!disableForm || initData?.isPublished">
                        <svg [cIcon]="icons.cilPen" width="22" class="text-white" title="Plus Icon"></svg>
                    </button>
                </div>
            </div>
            <div class="d-flex mb-2">
                <c-form-check class="me-4">
                    <label cFormCheckLabel for="isActive">Is Active</label>
                    <input cFormCheckInput id="isActive" type="checkbox" formControlName="isActive" />
                </c-form-check>
                <c-form-check>
                    <label cFormCheckLabel for="isLimited">Is Limited</label>
                    <input cFormCheckInput id="isLimited" type="checkbox" formControlName="isLimited" />
                </c-form-check>
            </div>
            <div class="mb-2 row">
                <div class="col-3">
                    <label cLabel for="storeId">Select Store: </label>
                    <select cFormControl formControlName="storeId" cSelect>
                        <option value="-1">--Select store--</option>
                        @for (item of storeList; track item.id; let i = $index) {
                        <option [value]="item.id">{{item.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <label cLabel for="formStyleId">Form Style: <span class="text-danger">(*)</span></label>
                    <select cFormControl formControlName="formStyleId" cSelect>
                        <option value="1">Group Question</option>
                        <option value="2">Single Question</option>
                    </select>
                    @if (formStyleId?.invalid && (formStyleId?.dirty || formStyleId?.touched)) {
                    <div class="text-danger">
                        @if (formStyleId?.hasError('required')) {
                        <div>Select Form Style, please!</div>
                        }
                    </div>
                    }
                </div>
                @if(isLimited?.value === true) {
                <div class="col-6">
                    <label cLabel for="maxParticipants">Max Participants: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="maxParticipants" type="number" min="0" />
                    @if (maxParticipants?.invalid && (maxParticipants?.dirty || maxParticipants?.touched)) {
                    <div class="text-danger">
                        @if (maxParticipants?.hasError('required')) {
                        <div>Enter Max Participants, please!</div>
                        }
                    </div>
                    }
                </div>
                }
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="name">Name: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="name" type="text" />
                    @if (name?.invalid && (name?.dirty || name?.touched)) {
                    <div class="text-danger">
                        @if (name?.hasError('required')) {
                        <div>Enter Name, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel>Start - End Date: <span class="text-danger">(*)</span></label>
                    <app-range-datetime-picker [initialData]="initialTimeRange" [isDisabled]="disableForm"
                        (onChangeValue)="onDateRangeChange($event)"></app-range-datetime-picker>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="titleEN">TitleEN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleEN" type="text" />
                    @if (titleEN?.invalid && (titleEN?.dirty || titleEN?.touched)) {
                    <div class="text-danger">
                        @if (titleEN?.hasError('required')) {
                        <div>Enter TitleEN, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="titleVN">TitleVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleVN" type="text" />
                    @if (titleVN?.invalid && (titleVN?.dirty || titleVN?.touched)) {
                    <div class="text-danger">
                        @if (titleVN?.hasError('required')) {
                        <div>Enter TitleVN, please!</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="descriptionEN">DescriptionEN:</label>
                    <!-- <textarea cFormControl formControlName="descriptionEN" rows="3"></textarea> -->
                    <app-text-editor [html]="initDescriptionEN" [disabled]="disableForm"
                        (contentChange)="updateForm.patchValue({descriptionEN: $event})" [toolbar]="customToolbar"
                        placeholder="Simple editor with limited toolbar...">
                    </app-text-editor>
                </div>
                <div class="col-6">
                    <label cLabel for="descriptionVN">DescriptionVN:</label>
                    <app-text-editor [html]="initDescriptionVN" [disabled]="disableForm"
                        (contentChange)="updateForm.patchValue({descriptionVN: $event})" [toolbar]="customToolbar"
                        placeholder="Simple editor with limited toolbar...">
                    </app-text-editor>
                </div>
            </div>
            @if(!disableForm){
            <div class="d-flex justify-content-end mt-4">
                <button cButton type="submit" [disabled]="!updateForm.valid">
                    <svg [cIcon]="icons.cilSave" width="25" class="text-white" title="Save Icon"></svg>
                </button>
                <button cButton type="button" class="ms-2 btn-secondary" (click)="disableUpdateForm()">
                    <svg [cIcon]="icons.cilX" width="25" class="text-white" title="Save Icon"></svg>
                </button>

            </div>
            }
        </form>

        @if(disableForm && initData) {
        <app-config-helper [surveyFormId]="initData.id" [disableForm]="initData.isPublished"></app-config-helper>

        <app-update-helper [surveyFormId]="initData.id" [disableForm]="initData.isPublished"></app-update-helper>
        }


    </c-card-body>
</c-card>

<!-- Public Modal -->
<c-modal backdrop="static" [visible]="visiblePublicModal" (visibleChange)="handleLivePublicModalChange($event)"
    id="verticallyCenteredDelete">
    <c-modal-header class="bg-info d-flex justify-content-between align-items-center">
        <h5 cModalTitle class="fw-bold text-white">Public Survey Form</h5>
        <button (click)="toggleLivePublicModal()" class="btn btn-sm btnClose">
            <svg [cIcon]="icons.cilX" width="22" class="text-white" title="Close Icon"></svg>
        </button>
    </c-modal-header>
    <c-modal-body>
        <p>Are you sure you want to public this survey form? When you public it, it will be visible to all users and you
            don't be able to edit it anymore.</p>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleLivePublicModal()" cButton color="secondary">
            <svg [cIcon]="icons.cilExitToApp" width="22" class="text-white" title="Close Icon"></svg>
        </button>
        <button cButton color="primary" (click)="onConfirmPublicSurveyForm()">
            <!-- <svg [cIcon]="icons.cilTrash" width="22" class="text-white" title="Delete Icon"></svg> -->
            <app-internet-icon></app-internet-icon>
        </button>
    </c-modal-footer>
</c-modal>

<!-- QR Code Modal -->
<c-modal backdrop="static" [visible]="visibleQrCodeModal" (visibleChange)="handleLiveQrCodeModalChange($event)"
    id="verticallyCenteredQrCodeModal">
    <c-modal-header class="bg-info d-flex justify-content-between align-items-center">
        <h5 cModalTitle class="text-white fw-bold">Survey Form QR Code</h5>
        <button (click)="toggleLiveQrCodeModal()" class="btn btn-sm btnClose">
            <svg [cIcon]="icons.cilX" width="22" class="text-white" title="Close Icon"></svg>
        </button>
    </c-modal-header>
    <c-modal-body>
        <div class="d-flex justify-content-center">
            <!-- QR Code content goes here -->
            <div class="d-flex flex-column align-items-center">
                <nz-qrcode nzValue="https://ng.ant.design/"></nz-qrcode>
                <p class="mt-2">QR Code will be displayed here.</p>
            </div>
        </div>
    </c-modal-body>
</c-modal>