<h3 class="fw-bold">Update Survey form</h3>
<c-card>
    <c-card-body>
        <!-- Survey Form Creation Form -->
        <div class="title">
            <span>1. Survey Information</span>
        </div>
        <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="name">Name: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="name" type="text" />
                    @if (name?.invalid && (name?.dirty || name?.touched)) {
                    <div class="text-danger">
                        @if (name?.hasError('required')) {
                        <div>Enter Name, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel>Start - End Date: <span class="text-danger">(*)</span></label>
                    <app-range-datetime-picker (onChangeValue)="onDateRangeChange($event)"></app-range-datetime-picker>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="titleEN">TitleEN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleEN" type="text" />
                    @if (titleEN?.invalid && (titleEN?.dirty || titleEN?.touched)) {
                    <div class="text-danger">
                        @if (titleEN?.hasError('required')) {
                        <div>Enter TitleEN, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="titleVN">TitleVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleVN" type="text" />
                    @if (titleVN?.invalid && (titleVN?.dirty || titleVN?.touched)) {
                    <div class="text-danger">
                        @if (titleVN?.hasError('required')) {
                        <div>Enter TitleVN, please!</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="descriptionEN">DescriptionEN:</label>
                    <textarea cFormControl formControlName="descriptionEN" rows="3"></textarea>
                </div>
                <div class="col-6">
                    <label cLabel for="descriptionVN">DescriptionVN:</label>
                    <textarea cFormControl formControlName="descriptionVN" rows="3"></textarea>
                </div>
            </div>
        </form>

        <!-- Button Submit Creation Form -->
        <div class="d-flex justify-content-end mt-4">
            <button cButton type="submit" (click)="onSubmit()" [disabled]="!updateForm.valid">
            <svg [cIcon]="icons.cilSave" width="25" class="text-white" title="Save Icon"></svg>

            </button>
            <a cButton type="button" routerLink="/surveys/survey-forms" class="ms-2 btn-info">
            <svg [cIcon]="icons.cilExitToApp" width="25" class="text-white" title="Close Icon"></svg>
            </a>
        </div>
    </c-card-body>
</c-card>