<button (click)="toggleCreateQuestionGroupModal()" cButton>Launch demo modal</button>
<c-modal id="visibleCreateQuestionGroupModal" [visible]="visibleCreateQuestionGroupModal"
    (visibleChange)="handleCreateQuestionGroupModalChange($event)">
    <c-modal-header>
        <h5 cModalTitle class="fw-bold">Create Question Group</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Email address</label>
                <input cFormControl id="exampleFormControlInput1" placeholder="name@example.com" type="email" />
            </div>
            <div class="mb-3">
                <label cLabel for="exampleFormControlTextarea1">Example textarea</label>
                <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleCreateQuestionGroupModal()" cButton color="secondary">Close</button>
        <button cButton color="primary"
            >Add</button>
    </c-modal-footer>
</c-modal>

<button (click)="toggleLiveDemo()" cButton>Launch demo modal</button>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm>
            <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Email address</label>
                <input cFormControl id="exampleFormControlInput1" placeholder="name@example.com" type="email" />
            </div>
            <div class="mb-3">
                <label cLabel for="exampleFormControlTextarea1">Example textarea</label>
                <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Save changes</button>
  </c-modal-footer>
</c-modal>