<h3>Danh Sách Loại Tài Sản</h3>
<div class="d-flex justify-content-end mb-2">
  <button (click)="toggleLiveTrashModal()" class="btn btn-warning me-2">
    <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Trash Icon"></svg>
  </button>
  <button (click)="toggleLiveCreateModel()" class="btn btn-success">
    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
  </button>
</div>
<app-data-table [data]="pageInformation"
(changePageIndex)="onPageIndexChange($event)" (changePageSize)="onPageSizeChange($event)">
<thead class="text-nowrap text-truncate">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Mã</th>
    <th scope="col">Tên</th>
    <th scope="col">Hoạt Động</th>
    <th scope="col">Tạo Bởi</th>
    <th scope="col">Cập Nhật Bởi</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of data.items; index as i ">
        <td>{{ i+1 }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.isActive }}</td>
        <td>{{ item.createdBy }}</td>
        <td>{{ item.modifiedBy }}</td>
        <td>
          <div class="d-flex justify-content-end">
            <button (click)="updateData(item.id)" class="btn btn-primary me-2">
              <svg [cIcon]="icons.cilPen" width="25" class="text-white" title="Edit Icon"></svg>
            </button>
            <button (click)="softDeleteData(item.id)" class="btn btn-danger">
              <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
            </button>
          </div>
        </td>
    </tr>
</tbody>
</app-data-table>
<!-- Trash Modal -->
<c-modal backdrop="static" [visible]="visibleTrashModal" (visibleChange)="handleLiveTrashModalChange($event)"
  id="verticallyCenteredTrashModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Thùng Rác</h5>
    <button (click)="toggleLiveTrashModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-data-table [data]="trashPageInformation" (changePageIndex)="onTrashPageIndexChange($event)"
      (changePageSize)="onTrashPageSizeChange($event)">
      <thead class="text-nowrap text-truncate">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã</th>
          <th scope="col">Tên</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of trashData.items; index as i ">
          <td>{{ i+1 }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.name }}</td>
          <td>
            <div class="d-flex justify-content-end">
              <button (click)="restoreData(item.id)" class="btn btn-success me-2">
                <svg [cIcon]="icons.cilLoopCircular" width="25" class="text-white" title="Restore Icon"></svg>
              </button>
              <button (click)="deleteDataTrash(item.id)" class="btn btn-danger">
                <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </app-data-table>
    <div class="d-flex justify-content-center" *ngIf="trashData.items.length === 0">
      <h3 class="opacity-75">Không có dữ liệu!</h3>
    </div>
  </c-modal-body>
</c-modal>
<!-- Create Modal -->
<c-modal backdrop="static" [visible]="visibleCreateModal" (visibleChange)="handleLiveCreateModelChange($event)" id="verticallyCenteredCreateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Thêm</h5>
    <button (click)="toggleLiveCreateModel()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="createForm" (ngSubmit)="onSubmitCreateForm()">
    <c-modal-body>
      <div class="mb-2 d-flex flex-row">
        <c-form-check class="me-2 d-flex align-items-center">
          <input cFormCheckInput formControlName="isActive" id="isActive" class="me-2" type="checkbox" />
          <label cFormCheckLabel for="isActive" class="me-2" i18n="@@active">Hoạt Động </label>
        </c-form-check>
      </div>
      <div class="mb-2 row">
        <div class="col-6">
          <label cLabel for="code">Mã: <span class="text-danger">(*)</span></label>
          <input cFormControl formControlName="code">
          <div *ngIf="codeCreateForm?.invalid && (codeCreateForm?.dirty || codeCreateForm?.touched)" class="text-danger">
            <div *ngIf="codeCreateForm?.hasError('required')">
              Code is required.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-12">
          <label cLabel for="name">Tên: <span class="text-danger">(*)</span></label>
          <input cFormControl formControlName="name">
          <div *ngIf="nameCreateForm?.invalid && (nameCreateForm?.dirty || nameCreateForm?.touched)" class="text-danger">
            <div *ngIf="nameCreateForm?.hasError('required')">
              Name is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label cLabel for="note">Ghi Chú: </label>
          <textarea cFormControl formControlName="note" rows="3"></textarea>
          <div *ngIf="noteCreateForm?.invalid && (noteCreateForm?.dirty || noteCreateForm?.touched)" class="text-danger">
            <div *ngIf="noteCreateForm?.hasError('maxlength')">
              Maximum 500 characters.
            </div>
          </div>
        </div>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveCreateModel()" cButton color="secondary" i18n="@@close">
        Đóng
      </button>
      <button cButton type="submit" [disabled]="!createForm.valid" color="primary">Lưu</button>
    </c-modal-footer>
  </form>
</c-modal>
<!--Update Model-->
<c-modal backdrop="static" [visible]="visibleUpdateModal" (visibleChange)="handleLiveUpdateModelChange($event)" id="verticallyCenteredUpdateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Cập Nhật</h5>
    <button (click)="toggleLiveUpdateModel()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="updateForm" (ngSubmit)="onSubmitUpdateForm()">
    <c-modal-body>
      <div class="mb-2 d-flex flex-row">
        <c-form-check class="me-2 d-flex align-items-center">
          <input cFormCheckInput formControlName="isActive" id="isActive" class="me-2" type="checkbox" />
          <label cFormCheckLabel for="isActive" class="me-2">Hoạt Động </label>
        </c-form-check>
      </div>
      <div class="mb-2 row">
        <div class="col-6">
          <label cLabel for="code">Mã: <span class="text-danger">(*)</span></label>
          <input cFormControl formControlName="code">
          <div *ngIf="codeUpdateForm?.invalid && (codeUpdateForm?.dirty || codeUpdateForm?.touched)" class="text-danger">
            <div *ngIf="codeUpdateForm?.hasError('required')">
              Code is required.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-12">
          <label cLabel for="name">Tên: <span class="text-danger">(*)</span></label>
          <input cFormControl formControlName="name">
          <div *ngIf="nameUpdateForm?.invalid && (nameUpdateForm?.dirty || nameUpdateForm?.touched)" class="text-danger">
            <div *ngIf="nameUpdateForm?.hasError('required')">
              Name is required.
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label cLabel for="note">Ghi Chú: </label>
          <textarea cFormControl formControlName="note" rows="3"></textarea>
          <div *ngIf="noteUpdateForm?.invalid && (noteUpdateForm?.dirty || noteUpdateForm?.touched)" class="text-danger">
            <div *ngIf="noteUpdateForm?.hasError('maxlength')">
              Maximum 500 characters.
            </div>
          </div>
        </div>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveUpdateModel()" cButton color="secondary">
        Đóng
      </button>
      <button cButton type="submit" [disabled]="!updateForm.valid" color="primary">Lưu</button>
    </c-modal-footer>
  </form>
</c-modal>
<!--Delete Model-->
<c-modal backdrop="static"  [visible]="visibleDelete" (visibleChange)="handleLiveDeleteChange($event)" id="verticallyCenteredDelete">
  <c-modal-header>
    <h5 cModalTitle>Xác Nhận</h5>
    <button (click)="toggleLiveDelete()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p>Bạn có chắc là muốn xóa lại tài sản này?</p>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDelete()" cButton color="secondary">
      Đóng
    </button>
    <button (click)="onConfirmDelete()" cButton color="primary">Xác Nhận</button>
  </c-modal-footer>
</c-modal>
