@{
	ViewData["Title"] = "About us";
}
<section class="banner-background aboutBanner">
	<div class="section-header">
		<h1 class="text-white">About Us</h1>
		<span>~ Our story ~</span>
	</div>
</section>

<section>
	<div class="container">
		<div class="ourStoryWrapper">
			<img class="ourStory1" src="../assets/images/about/our-story-1.jpg" alt="Our Story 1" />
			<div class="ourStoryContent">
				<div class="inner">
					<div class="heading">
						<h2>Our story</h2>
						<img src="~/assets/images/about/border.png" alt="" class="borderPlace" />
					</div>
					<div class="body">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
						<div class="end">
							<img src="~/assets/images/about/signature.png" alt="" />
							<div class="name">
								<h6>Harry Price</h6>
								<span>Restaurant Owners</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="ourStory2" src="../assets/images/about/our-story-2.jpg" alt="Our Story 2" />
		</div>
	</div>
</section>

<section class="sectionPrimary ourService">
	<div class="container">
		<div class="section-header">
			<h2 class="text-white">Our Best Service</h2>
			<span>~ Experiences on food ~</span>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="ourServiceCol">
					<h3>- Serve -</h3>
					<img src="~/assets/images/about/serve-white-icon.png" alt="" />
					<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="ourServiceCol">
					<h3>- Fresh food -</h3>
					<img src="~/assets/images/about/fresh-food-white-icon.png" alt="" />
					<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="ourServiceCol">
					<h3>- Hot food -</h3>
					<img src="~/assets/images/about/hot-food-white-icon.png" alt="" />
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="ourServiceCol">
					<h3>- Coffee -</h3>
					<img src="~/assets/images/about/coffee-white-icon.png" alt="" />
					<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sectionPrimary aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 px-md-0">
				<div class="imageHolder">
					<img src="~/assets/images/about/about-us-section.jpg" alt="About Us" />
				</div>
			</div>
			<div class="col-md-6 px-md-0">
				<div class="aboutUsCol">
					<div class="section-header">
						<h2>About us</h2>
						<span>~ For more add ~</span>
					</div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum.</p>
					<a href="#" class="btnReadMore">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>