.surveyPage{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .surveyFormContainer {
      max-width: 768px;
      min-height: 100vh;
      margin: 0 auto;
      padding: 0.75rem 1rem;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        .surveyTitle {
            text-align: center;
            font-weight: bold;
        }
    }
}