.surveyPage{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .surveyFormContainer {
      max-width: 768px;
      min-height: 100vh;
      margin: 0 auto;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #5d0000;

      .header{
        padding: 1rem;
        background-color: #4c4c4c;
        color: #fff;
        margin-bottom: 20px;
      }
      .body{
        padding: 1rem 2rem;
          .surveyTitle {
              text-align: center;
              font-weight: bold;
          }
          .surveyDescription{
            text-align: justify;
          }
          .btnSubmit{
            width: 80%;
            background-color: #4c4c4c;
            color: #fff;
            &:hover{
              background-color: #3a3a3a;
              color: #fff;
            }
          }
      }
    }
}