.surveyPage{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .surveyFormContainer {
      max-width: 600px;
      height: 100%;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        .surveyTitle {
            text-align: center;
            font-weight: bold;
        }
    }
}