<h1>Question List</h1>
<div class="d-flex justify-content-between mb-4">
    <div>
        <select cFormControl cSelect (change)="onChangeQuestionGroup($event)">
            <option [value]="-1">Select question group</option>
            @for (item of questionGroupList; track item?.id) {
            <option [value]="item.id">{{ item.nameEN }}</option>
            }
        </select>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-warning me-2">
            <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Trash Icon"></svg>
        </button>
        <button routerLink="./create" class="btn btn-success">
            <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
        </button>
    </div>
</div>
<app-data-table [data]="pageInformation" (changePageIndex)="onPageIndexChange($event)"
    (changePageSize)="onPageSizeChange($event)">
    <thead class="text-nowrap text-truncate">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">NameEn</th>
            <th scope="col">NameVN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data.items; track item?.id; let i = $index) {
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ item.nameEN }}</td>
            <td>{{ item.nameVN }}</td>
            <td>
                <div class="d-flex justify-content-end">
                    <button routerLink="./update/{{item.id}}" class="btn btn-primary me-2">
                        <svg [cIcon]="icons.cilPen" width="25" class="text-white" title="Edit Icon"></svg>
                    </button>
                    <button class="btn btn-danger">
                        <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
                    </button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</app-data-table>