Create Database [LulusiaDatabase];
GO
USE [LulusiaDatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/22/2025 2:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSystem_RoleClaims]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSystem_RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleClaimGroupId] [int] NOT NULL,
	[RoleClaimId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSystem_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSystem_Users]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSystem_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NOT NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_TBSystem_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_Actions]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_Actions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Label] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_TBSytem_Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_ControllerActions]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_ControllerActions](
	[ControllerId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
 CONSTRAINT [PK_TBSytem_ControllerActions] PRIMARY KEY CLUSTERED 
(
	[ControllerId] ASC,
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_Controllers]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_Controllers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Label] [nvarchar](max) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSytem_Controllers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_Modules]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Label] [nvarchar](max) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSytem_Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_Notifications]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TBSytem_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_Roles]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsSystemRole] [bit] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSytem_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_UserClaims]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSytem_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_UserLogins]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TBSytem_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_UserRoles]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_TBSytem_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSytem_UserTokens]    Script Date: 08/22/2025 2:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSytem_UserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[ExpirationTime] [datetime2](7) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBSytem_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250329043424_InitialDB', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250331023726_AddPriority', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[TBSystem_Users] ON 

SET IDENTITY_INSERT [dbo].[TBSystem_Users] OFF
GO
SET IDENTITY_INSERT [dbo].[TBSytem_Roles] ON 

INSERT [dbo].[TBSytem_Roles] ([Id], [Description], [CreatedOn], [ModifiedOn], [IsDeleted], [IsActive], [CreatedBy], [ModifiedBy], [IsSystemRole], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'System Admin Role', CAST(N'2025-03-31T09:37:26.1542406' AS DateTime2), CAST(N'2025-03-31T09:37:26.1552467' AS DateTime2), 0, 1, N'System', N'System', 1, N'Admin', N'ADMIN', NULL)
SET IDENTITY_INSERT [dbo].[TBSytem_Roles] OFF
GO
INSERT [dbo].[TBSytem_UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
GO
INSERT [dbo].[TBSytem_UserTokens] ([UserId], [LoginProvider], [Name], [ExpirationTime], [Value]) VALUES (1, N'Web API', N'RefreshToken', CAST(N'2025-08-06T10:24:17.3463672' AS DateTime2), N'PM3gzlHHIAVtIDaZuGGxGWYFnswLU076EhExPjYxw6k=')
INSERT [dbo].[TBSytem_UserTokens] ([UserId], [LoginProvider], [Name], [ExpirationTime], [Value]) VALUES (2, N'Web API', N'RefreshToken', CAST(N'2025-07-20T10:48:37.4100288' AS DateTime2), N'916ItiIV7qfX+y6cTWIHxtvL4iiIBw5Vr8oUnMisP68=')
GO
ALTER TABLE [dbo].[TBSytem_Actions] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[TBSytem_Controllers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TBSystem_RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_TBSystem_RoleClaims_TBSytem_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[TBSytem_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSystem_RoleClaims] CHECK CONSTRAINT [FK_TBSystem_RoleClaims_TBSytem_Roles_RoleId]
GO
ALTER TABLE [dbo].[TBSytem_ControllerActions]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_ControllerActions_TBSytem_Actions_ActionId] FOREIGN KEY([ActionId])
REFERENCES [dbo].[TBSytem_Actions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_ControllerActions] CHECK CONSTRAINT [FK_TBSytem_ControllerActions_TBSytem_Actions_ActionId]
GO
ALTER TABLE [dbo].[TBSytem_ControllerActions]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_ControllerActions_TBSytem_Controllers_ControllerId] FOREIGN KEY([ControllerId])
REFERENCES [dbo].[TBSytem_Controllers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_ControllerActions] CHECK CONSTRAINT [FK_TBSytem_ControllerActions_TBSytem_Controllers_ControllerId]
GO
ALTER TABLE [dbo].[TBSytem_Controllers]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_Controllers_TBSytem_Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[TBSytem_Modules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_Controllers] CHECK CONSTRAINT [FK_TBSytem_Controllers_TBSytem_Modules_ModuleId]
GO
ALTER TABLE [dbo].[TBSytem_Notifications]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_Notifications_TBSystem_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TBSystem_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_Notifications] CHECK CONSTRAINT [FK_TBSytem_Notifications_TBSystem_Users_UserId]
GO
ALTER TABLE [dbo].[TBSytem_UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_UserClaims_TBSystem_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TBSystem_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_UserClaims] CHECK CONSTRAINT [FK_TBSytem_UserClaims_TBSystem_Users_UserId]
GO
ALTER TABLE [dbo].[TBSytem_UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_UserLogins_TBSystem_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TBSystem_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_UserLogins] CHECK CONSTRAINT [FK_TBSytem_UserLogins_TBSystem_Users_UserId]
GO
ALTER TABLE [dbo].[TBSytem_UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_UserRoles_TBSystem_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TBSystem_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_UserRoles] CHECK CONSTRAINT [FK_TBSytem_UserRoles_TBSystem_Users_UserId]
GO
ALTER TABLE [dbo].[TBSytem_UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_UserRoles_TBSytem_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[TBSytem_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_UserRoles] CHECK CONSTRAINT [FK_TBSytem_UserRoles_TBSytem_Roles_RoleId]
GO
ALTER TABLE [dbo].[TBSytem_UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_TBSytem_UserTokens_TBSystem_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TBSystem_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSytem_UserTokens] CHECK CONSTRAINT [FK_TBSytem_UserTokens_TBSystem_Users_UserId]
GO
