<h3 class="fw-bold">Question Libraries</h3>
<c-accordion class="mb-4">
    <c-accordion-item #item0="cAccordionItem" [visible]="true">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                Filter:
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-8">
                        <form cForm [formGroup]="filterForm" (ngSubmit)="filter()">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <app-select-search [options]="questionGroupLibraries"
                                        placeholder="All question group"></app-select-search>
                                </div>
                                <div class="col-4">
                                    <app-select-search [options]="questionTypes"
                                        placeholder="All question type"></app-select-search>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <input formControlName="searchText" type="text" class="form-control"
                                        placeholder="Search by name...">
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary w-100">
                                        <svg [cIcon]="icons.cilSearch" width="20" class="text-white"
                                            title="Search Icon"></svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4">
                        <div class="justify-content-end d-flex">
                            <button class="btn btn-warning me-2">
                                <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Trash Icon"></svg>
                            </button>
                            <button routerLink="./create" class="btn btn-success">
                                <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </c-accordion-item>
</c-accordion>

<app-data-table [striped]="false" [data]="data" (changePageIndex)="onPageIndexChange($event)" (changePageSize)="onPageSizeChange($event)">
    <thead class="text-nowrap text-truncate">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">NameEn</th>
            <th scope="col">NameVN</th>
            <th scope="col">Priority</th>
            <th scope="col">Is Active</th>
            <th scope="col">Created By</th>
            <th scope="col">Modified By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data.items; track item?.id; let i = $index) {
        <tr class="tree-row" [class.expanded]="item.expanded">
            <td>{{ i+1 }}</td>
            <td>{{ item.nameEN }}</td>
            <td>{{ item.nameVN }}</td>
            <td>{{ item.priority }}</td>
            <td>
                <input type="checkbox" [checked]="item.isActive" disabled>
            </td>
            <td>{{ item.createdBy }}</td>
            <td>{{ item.modifiedBy }}</td>
            <td>
                <div class="d-flex justify-content-end">
                    @if((item.predefinedAnswerLibraries?.length ?? 0) > 0) {
                        <button (click)="toggleNode(item)" class="btn btn-info me-2">
                            <app-book-icon [open]="item.expanded ?? false"></app-book-icon>
                        </button>
                    }
                    <a routerLink="./update/{{item.id}}" class="btn btn-primary me-2">
                        <svg [cIcon]="icons.cilPen" width="25" class="text-white" title="Edit Icon"></svg>
                    </a>
                    <button class="btn btn-danger">
                        <svg [cIcon]="icons.cilTrash" width="25" class="text-white" title="Delete Icon"></svg>
                    </button>
                </div>
            </td>
        </tr>
         @if(item.expanded && (item?.predefinedAnswerLibraries?.length ?? 0) > 0) {
            <ng-container *ngFor="let node of item.predefinedAnswerLibraries; index as i">
                <ng-container [ngTemplateOutlet]="nodeTemplate"
                [ngTemplateOutletContext]="{ node: node, index: i, level: 1 }"></ng-container>
            </ng-container>
            }
         }
    </tbody>
</app-data-table>


<ng-template #nodeTemplate let-node="node" let-level="level" let-index="index">
  <tr class="tree-row" [class.children]="level > 0">
    <td>
      <span [ngStyle]="{'margin-left.px': level * 15}">
        {{ index + 1 }}
      </span>
    </td>
    <td>{{ node.nameEN }}</td>
    <td>{{ node.nameVN }}</td>
    <td>{{ node.priority }}</td>
    <td>###</td>
    <td>###</td>
    <td>###</td>
    <td></td>
  </tr>
</ng-template>