<h1>Action Logging List</h1>
<c-accordion class="mb-4">
  <c-accordion-item #item0="cAccordionItem" [visible]="true">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
        Filter:
      </button>
    </ng-template>
    <ng-template cTemplateId="accordionBodyTemplate">
      <div class="accordion-body">
        <div class="row">
          <div class="">
            <form cForm [formGroup]="queryParamForm" class="w-100 d-flex align-items-center"
              (ngSubmit)="onExecuteSubmit()">
              <div class="row me-2">
                <div cFormFloating class="col-3">
                  <select class="form-control" id="action" cSelect formControlName="action">
                    <option value="-1">All Action</option>
                    @for (item of actions; track item.value) {
                      <option [value]="item.value">{{item.key}}</option>
                    }
                  </select>
                </div>
                <div cFormFloating class="col-3">
                  <select class="form-control" id="controller" cSelect formControlName="controller">
                    <option value="-1">All Controller</option>
                    @for (item of controllers; track item.value) {
                      <option [value]="item.value">{{item.key}}</option>
                    }
                  </select>
                </div>
                <div cFormFloating class="col-3">
                  <input type="date" class="form-control" placeholder="From" formControlName="startDate">
                </div>
                <div cFormFloating class="col-3">
                  <input type="date" class="form-control" placeholder="To" cInput formControlName="endDate">
                </div>
              </div>
              <button class="btn btn-primary" type="submit" type="submit">Find</button>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
</c-accordion>

<app-data-table [data]="pageInformation" (changePageIndex)="onPageIndexChange($event)"
  (changePageSize)="onPageSizeChange($event)">
  <thead class="text-nowrap text-truncate">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">UserName</th>
      <th scope="col">ControllerName</th>
      <th scope="col">ActionName</th>
      <th scope="col">Status</th>
      <th scope="col">CreatedOn</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of data.items; track item.id; let i = $index) {
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.controllerName }}</td>
        <td>{{ item.actionName }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.createdDate | date: "dd/MM/yyy hh:mm:ss" }}</td>
        <td>
          <div class="d-flex justify-content-end">
            <button (click)="updateData(item.id)" class="btn btn-primary me-2">Detail</button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</app-data-table>

<c-modal backdrop="static" [visible]="visibleUpdateModal" (visibleChange)="handleLiveUpdateModelChange($event)"
  id="verticallyCenteredUpdateModal" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Information</h5>
    <button (click)="toggleLiveUpdateModel()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="updateForm">
    <c-modal-body>
      <div class="row mb-2">
        <div class="col-6">
          <label cLabel="" for="userName" class="me-2">User Name: </label>
          <input cFormControl formControlName="userName" class="me-2" readonly [disabled]="true">
        </div>
        <div class="col-6">
          <label cLabel for="createdDate" class="me-2">CreatedOn: </label>
          <input cFormControl formControlName="createdDate" class="me-2" readonly [disabled]="true">
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-6">
          <label cLabel for="actionName">Action Name:</label>
          <input cFormControl formControlName="actionName" type="text" class="me-2" readonly [disabled]="true">
        </div>
        <div class="col-6">
          <label cLabel for="controllerName">Controller Name: </label>
          <input cFormControl formControlName="controllerName" type="text" class="me-2" readonly [disabled]="true">
        </div>
      </div>
      <div class="mb-2 row">
        <div class="col-12">
          <label cLabel for="details">Detail: </label>
          <textarea cFormControl formControlName="details" rows="10"></textarea>
        </div>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveUpdateModel()" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </form>
</c-modal>