<h3>Create Question Library</h3>
<c-card>
    <c-card-body>
        <form cForm [formGroup]="questionForm" (ngSubmit)="onSubmit()">
             <div class="mb-2 d-flex flex-row">
                <c-form-check class="me-2 d-flex align-items-center">
                    <input cFormCheckInput formControlName="isActive" id="isActive" class="me-2" type="checkbox" />
                    <label cFormCheckLabel for="isActive" class="me-2">Is Active </label>
                </c-form-check>
                <div>
                    <label for="priority" class="me-2">Priority: </label>
                    <input formControlName="priority" type="number" class="me-2 number-control" min="1" max="999">
                    @if (priority?.invalid && (priority?.dirty || priority?.touched)) {
                    <div class="text-danger">
                        @if (priority?.hasError('min') || priority?.hasError('max')) {
                        <div>
                            Priority must be between 1 and 999.
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="questionTypeId">Select Question type: <span
                            class="text-danger">(*)</span></label>
                    <app-select-search [options]="questionTypeList"
                        (onChangeValue)="onchangeQuestionType($event)"></app-select-search>
                </div>
                <div class="col-6">
                    <label cLabel for="QuestionGroupLibraryId">Select Question group: <span
                            class="text-danger">(*)</span></label>
                    <app-select-search [options]="questionGroupList"
                        (onChangeValue)="questionForm.patchValue({QuestionGroupLibraryId: $event})"></app-select-search>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="nameEN">NameEN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameEN" type="text" />
                    @if (nameEN?.invalid && (nameEN?.dirty || nameEN?.touched)) {
                    <div class="text-danger">
                        @if (nameEN?.hasError('required')) {
                        <div>Enter NameEN, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="nameVN">NameVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameVN" type="text" />
                    @if (nameVN?.invalid && (nameVN?.dirty || nameVN?.touched)) {
                    <div class="text-danger">
                        @if (nameVN?.hasError('required')) {
                        <div>Enter NameVN, please!</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-12">
                    <label cLabel for="note">Note:</label>
                    <textarea cFormControl formControlName="note" rows="3"></textarea>
                </div>
            </div>
            @if(showPredefinedAnswerTable()) {
            <div class="d-flex justify-content-end mb-2">
                <button (click)="toggleLiveCreateModel()" cButton type="button" class="ms-2 btn-success text-white d-flex align-items-center justify-content-center">
                    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                    <span>Predefined Answer</span>
                </button>
            </div>
            <c-accordion>
                <c-accordion-item #item0="cAccordionItem" [visible]="true">
                    <ng-template cTemplateId="accordionHeaderTemplate">
                        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                            Answer List
                        </button>
                    </ng-template>
                    <ng-template cTemplateId="accordionBodyTemplate">
                        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>NameEN</th>
                                    <th>NameVN</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of predefinedAnswerList; track $index; let i = $index) {
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.nameEN }}</td>
                                    <td>{{ item.nameVN }}</td>
                                    <td class="d-flex justify-content-center">
                                        <button cButton type="button" (click)="updateData(i)"
                                            class="btn btn-warning me-2">Update</button>
                                        <button cButton type="button" (click)="deleteData(i)"
                                            class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </ng-template>
                </c-accordion-item>
            </c-accordion>
            }
            <div class="d-flex justify-content-end mt-4">
                <button cButton type="submit" type="submit" [disabled]="!questionForm.valid">Submit</button>
                <a cButton type="button" routerLink="/surveys/extension/question-libraries" class="ms-2 btn-info">Back
                    to list</a>
            </div>
        </form>
    </c-card-body>
</c-card>
<!-- Create Modal -->
<c-modal backdrop="static" [visible]="visibleCreateModal" (visibleChange)="handleLiveCreateModelChange($event)"
    id="verticallyCenteredCreateModal" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Create Answer</h5>
        <button (click)="toggleLiveCreateModel()" cButtonClose></button>
    </c-modal-header>
    <form cForm [formGroup]="createPredefinedAnswerForm" (ngSubmit)="onSubmitCreateForm()">
        <c-modal-body>
             <div class="mb-2 d-flex flex-row">
                <div>
                    <label for="priority" class="me-2">Priority: </label>
                    <input formControlName="priority" type="number" class="me-2 number-control" min="1" max="255">
                    @if (priorityCreateForm?.invalid && (priorityCreateForm?.dirty || priorityCreateForm?.touched)) {
                    <div class="text-danger">
                        @if (priorityCreateForm?.hasError('min') || priorityCreateForm?.hasError('max')) {
                        <div>
                            Priority must be between 1 and 255.
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-12 col-md-6">
                    <label cLabel for="nameEN" class="me-2">NameEN: <span class="text-danger">(*)</span> </label>
                    <input cFormControl formControlName="nameEN">
                    @if (nameENCreateForm?.invalid && (nameENCreateForm?.dirty || nameENCreateForm?.touched)) {
                    <div class="text-danger">
                        @if (nameENCreateForm?.hasError('required')) {
                        <div>NameEN is required.</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-12 col-md-6">
                    <label cLabel for="nameVN">NameVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameVN">
                    @if (nameVNCreateForm?.invalid && (nameVNCreateForm?.dirty || nameVNCreateForm?.touched)) {
                    <div class="text-danger">
                        @if (nameVNCreateForm?.hasError('required')) {
                        <div>NameVN is required.</div>
                        }
                    </div>
                    }
                </div>
            </div>
        </c-modal-body>
        <c-modal-footer>
            <button (click)="toggleLiveCreateModel()" cButton color="secondary">
                Close
            </button>
            <button cButton type="submit" [disabled]="!createPredefinedAnswerForm.valid" color="primary">Save</button>
        </c-modal-footer>
    </form>
</c-modal>
<!--Update Model-->
<c-modal backdrop="static" [visible]="visibleUpdateModal" (visibleChange)="handleLiveUpdateModelChange($event)"
    id="verticallyCenteredUpdateModal" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Update Answer</h5>
        <button (click)="toggleLiveUpdateModel()" cButtonClose></button>
    </c-modal-header>
    <form cForm [formGroup]="updatePredefinedAnswerForm" (ngSubmit)="onSubmitUpdateForm()">
        <c-modal-body>
            <!-- <div class="mb-2 d-flex flex-row">
                <div>
                    <label for="point" class="me-2">Point: <span class="text-danger">(*)</span> </label>
                    <input formControlName="point" type="number" class="me-2 priorityInput">
                    @if (pointUpdateForm?.invalid && (pointUpdateForm?.dirty || pointUpdateForm?.touched)) {
                    <div class="text-danger">
                        @if (pointUpdateForm?.hasError('min') || pointUpdateForm?.hasError('max')) {
                        <div>point must be between 1 and 9999.</div>
                        }
                    </div>
                    }
                </div>
            </div> -->
<div class="mb-2 d-flex flex-row">
                <div>
                    <label for="priority" class="me-2">Priority: </label>
                    <input formControlName="priority" type="number" class="me-2 number-control" min="1" max="255">
                    @if (priorityUpdateForm?.invalid && (priorityUpdateForm?.dirty || priorityUpdateForm?.touched)) {
                    <div class="text-danger">
                        @if (priorityUpdateForm?.hasError('min') || priorityUpdateForm?.hasError('max')) {
                        <div>
                            Priority must be between 1 and 255.
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="row mb-2">

                <div class="col-12 col-md-6">
                    <label cLabel for="nameEN" class="me-2">NameEN: <span class="text-danger">(*)</span> </label>
                    <input cFormControl formControlName="nameEN">
                    @if (nameENUpdateForm?.invalid && (nameENUpdateForm?.dirty || nameENUpdateForm?.touched)) {
                    <div class="text-danger">
                        @if (nameENUpdateForm?.hasError('required')) {
                        <div>NameEN is required.</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-12 col-md-6">
                    <label cLabel for="nameVN">NameVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="nameVN">
                    @if (nameVNUpdateForm?.invalid && (nameVNUpdateForm?.dirty || nameVNUpdateForm?.touched)) {
                    <div class="text-danger">
                        @if (nameVNUpdateForm?.hasError('required')) {
                        <div>NameVN is required.</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <!-- <div class="mb-2 row">
                <div class="col-12">
                    <label cLabel for="note" class="me-2">Note: </label>
                    <textarea cFormControl formControlName="note" rows="3"></textarea>
                </div>
            </div> -->
        </c-modal-body>
        <c-modal-footer>
            <button (click)="toggleLiveUpdateModel()" cButton color="secondary">
                Close
            </button>
            <button cButton type="submit" [disabled]="!updatePredefinedAnswerForm.valid" color="primary">Save</button>
        </c-modal-footer>
    </form>
</c-modal>
<!--Delete Model-->
<c-modal backdrop="static" [visible]="visibleDelete" (visibleChange)="handleLiveDeleteChange($event)"
    id="verticallyCenteredDelete">
    <c-modal-header>
        <h5 cModalTitle>Confirmation</h5>
        <button (click)="toggleLiveDelete()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <p>Are you sure you want to delete this category?</p>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleLiveDelete()" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary" (click)="deleteDataConfirm()">Confirm</button>
    </c-modal-footer>
</c-modal>