
<h1>Question Types</h1>
<c-card class="mb-2">
    <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable>
        <thead class="text-nowrap text-truncate">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track $index; let i = $index) {
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.note }}</td>
                </tr>
            }
        </tbody>
        </table>
    </c-card-body>
</c-card>