@{
    ViewData["Title"] = "Home Page";
}
<div class="homePage">
    <!--Home Banner-->
    @* @await Html.PartialAsync("~/Views/Shared/PartialViews/_HomeBannerV1PartialView.cshtml") *@
    <section class="homeBannerV1">
        <div class="banner">
            <img src="~/assets/images/home/slideshow-1.jpg" alt="banner" class="w-100" />
            <div class="intro text-uppercase">
                <h6 class="subTitle text-uppercase">
                    Because you deserve to enjoy the best
                </h6>
                <h1 class="title font-bitter-regular">Nice Dinnner</h1>
                <img src="~/assets/images/home/cuisine-1956.png" alt="Cuisine 1956" />
            </div>
        </div>
    </section>
    <!--Slide Show-->
    <section class="slideShowContainer">
        <div class="slide">
            <img src="~/assets/images/home/flipster-1.jpg" alt="about" class="w-100" />
            <div class="slideInfor">
                <div class="heading">
                    <h3 class="m-0 font-satisfy-regular text-color-yellow">Our Story</h3>
                    <img src="~/assets/images/home/border-1.png" alt="heading" />
                </div>
                <div class="body">
                    <p class="text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt .
                    </p>
                    <div class="d-flex justify-content-center">
                        <img src="~/assets/images/home/signature-1.png" alt="signature" />
                        <div>
                            <h5 class="subTittle">John Doe</h5>
                            <p>Founder & Chef</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="~/assets/images/home/flipster-2.jpg" alt="about" class="w-100" />
            <div class="slideInfor">
                <div class="heading">
                    <h3 class="m-0 font-satisfy-regular text-color-yellow">Opening Time</h3>
                    <img src="~/assets/images/home/border-1.png" alt="heading" />

                </div>
                <div class="body">
                    <h5 class="font-satisfy-regular text-color-yellow">Monday-Friday</h5>
                    <p>7am-11am (Breakfastt)</p>
                    <p>11am-10pm (Lunch/Dinner)</p>
                    <h5 class="font-satisfy-regular text-color-yellow">Saturday-Sunday</h5>
                    <p>8am-11am (Breakfastt)</p>
                    <p>1am-10pm (Lunch/Dinner)</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="~/assets/images/home/flipster-3.jpg" alt="about" class="w-100" />
            <div class="slideInfor">
                <div class="heading">
                    <h3 class="m-0 font-satisfy-regular text-color-yellow">Reservation</h3>
                    <img src="~/assets/images/home/border-1.png" alt="heading" />

                </div>
                <div class="body">
                    <p class="text-center">Make your reservation online any time, day or night! Royate Restaurant looks forward to serving you the best food experience.</p>
                    <p class="text-center">Or you can also call us + (156) 1800-366-6666 from 7 a.m until before the closing time 1 hour</p>
                </div>
            </div>
        </div>

    </section>
    <!--Our Best Service-->
    <section class="ourServiceContainer">
        <h1 class="title">Our Best Service</h1>
        <h5 class="subTitle">~ Experiences on food ~</h5>
        <div class="ourServices">
            <div class="service">
                <h3>Delicious Foods</h3>
                <img src="~/assets/images/home/service-1.jpg" alt="service" class="w-100" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="service">
                <h3>Delicious Foods</h3>
                <img src="~/assets/images/home/service-1.jpg" alt="service" class="w-100" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="service">
                <h3>Delicious Foods</h3>
                <img src="~/assets/images/home/service-1.jpg" alt="service" class="w-100" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="service">
                <h3>Delicious Foods</h3>
                <img src="~/assets/images/home/service-1.jpg" alt="service" class="w-100" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </section>
    <!--Our Menu-->
    <section class="ourMenuContainer">
        <h1 class="title">Our Food Menu</h1>
        <h5 class="subTitle">~ See what we offer ~</h5>
        <div class="ourMenu">
            <div class="Category">
                <img src="~/assets/images/home/menu-1.jpg" alt="menu" class="w-100" />
                <div class="category">
                    <h3>Delicious Foods</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>
</div>