@{
	ViewData["Title"] = "Menu";
}
<section class="banner-background menuBanner">
	<div class="section-header">
		<h1 class="text-white">Our menu</h1>
		<span>~ See what we offe ~</span>
	</div>
</section>

<section class="section-primary menuPage">
	<div class="container">
		<div class="section-header">
			<h2>Main course</h2>
			<span>~ Qualities in each dish ~</span>
		</div>
		<div class="row">

			@for (int i = 0; i < 8; i++)
			{
				<div class="col-md-6 menuHolder left">
					<a href="#" class="menuThumb">
						<img src="~/assets/images/menu/menu-thumb-1.png" alt="" />
					</a>
					<div class="menuItem">
						<h5 class="boldColor">
							<a href="#">Super-delicious zuppa toscana</a>
							<span class="dots"></span>
							<span class="price"><span>$</span>40</span>
						</h5>
						<ul>
							<li><a href="#">Chicken</a></li>
							<li><a href="#">Italian</a></li>
							<li><a href="#">Sausage</a></li>
							<li><a href="#">Spinach</a></li>
						</ul>
					</div>
				</div>
		}
		</div>
	</div>
</section>

<section class="menuBlockBg" style="background-image: url('assets/images/menu/menu-block-bg.jpg')">
	<div class="section-header">
		<h1 class="text-white">Soups & salads</h1>
		<span>~ Clean vegetables  ~</span>
	</div>
</section>

<section class="section-primary menuPage">
	<div class="container">
		<div class="row">
			@for (int i = 0; i < 8; i++)
			{
				<div class="col-md-6 menuHolder left">
					<a href="#" class="menuThumb">
						<img src="~/assets/images/menu/menu-thumb-1.png" alt="" />
					</a>
					<div class="menuItem">
						<h5 class="boldColor">
							<a href="#">Holiday Chicken Salad</a>
							<span class="dots"></span>
							<span class="price"><span>$</span>40</span>
						</h5>
						<p>All the Lorem Ipsum generators on the Internet tend </p>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<section class="menuBlockBg" style="background-image: url('assets/images/menu/menu-block-bg-2.jpg')">
	<div class="section-header">
		<h1 class="text-white">Drinks</h1>
		<span>~ Attractive drinks ~</span>
	</div>
</section>

<section class="section-primary menuPage">
	<div class="container">
		<div class="row">
			@for (int i = 0; i < 8; i++)
			{
				<div class="col-md-6 menuHolder left">
					<a href="#" class="menuThumb">
						<img src="~/assets/images/menu/menu-thumb-1.png" alt="" />
					</a>
					<div class="menuItem">
						<h5 class="boldColor">
							<a href="#">Holiday Chicken Salad</a>
							<span class="dots"></span>
							<span class="price"><span>$</span>40</span>
						</h5>
						<p>All the Lorem Ipsum generators on the Internet tend </p>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<section class="menuBlockBg" style="background-image: url('assets/images/menu/menu-block-bg-3.jpg')">
	<div class="section-header">
		<h1 class="text-white">Desserts</h1>
		<span>~ Sweet spread   ~</span>
	</div>
</section>

<section class="section-primary menuPage">
	<div class="container">
		<div class="row">
			@for (int i = 0; i < 8; i++)
			{
				<div class="col-md-6 menuHolder left">
					<a href="#" class="menuThumb">
						<img src="~/assets/images/menu/menu-thumb-1.png" alt="" />
					</a>
					<div class="menuItem">
						<h5 class="boldColor">
							<a href="#">Holiday Chicken Salad</a>
							<span class="dots"></span>
							<span class="price"><span>$</span>40</span>
						</h5>
						<p>All the Lorem Ipsum generators on the Internet tend </p>
					</div>
				</div>
			}
		</div>
	</div>
</section>