<h3>Create Survey form</h3>
<c-card>
    <c-card-body>
        <!-- Survey Form Creation Form -->
        <div class="title">
            <span>1. Survey Information</span>
        </div>
        <form cForm [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="name">Name: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="name" type="text" />
                    @if (name?.invalid && (name?.dirty || name?.touched)) {
                    <div class="text-danger">
                        @if (name?.hasError('required')) {
                        <div>Enter Name, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel>Start - End Date: <span class="text-danger">(*)</span></label>
                    <app-range-datetime-picker></app-range-datetime-picker>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="titleEN">TitleEN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleEN" type="text" />
                    @if (titleEN?.invalid && (titleEN?.dirty || titleEN?.touched)) {
                    <div class="text-danger">
                        @if (titleEN?.hasError('required')) {
                        <div>Enter TitleEN, please!</div>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label cLabel for="titleVN">TitleVN: <span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="titleVN" type="text" />
                    @if (titleVN?.invalid && (titleVN?.dirty || titleVN?.touched)) {
                    <div class="text-danger">
                        @if (titleVN?.hasError('required')) {
                        <div>Enter TitleVN, please!</div>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-6">
                    <label cLabel for="descriptionEN">DescriptionEN:</label>
                    <textarea cFormControl formControlName="descriptionEN" rows="3"></textarea>
                </div>
                <div class="col-6">
                    <label cLabel for="descriptionVN">DescriptionVN:</label>
                    <textarea cFormControl formControlName="descriptionVN" rows="3"></textarea>
                </div>
            </div>
        </form>
        <!-- Table of Question Groups -->
        <div class="d-flex justify-content-between align-items-center title mt-4">
            <span>2. Question Groups</span>
            <div class="d-flex justify-content-end">
                <button cButton type="button"
                    class="btn-success me-2 text-white d-flex justify-content-center align-items-center">
                    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                    <span>Question Group</span>
                </button>
                <button cButton type="button"
                    class="btn-success text-white d-flex  justify-content-center  align-items-center">
                    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                    <span>Question</span>
                </button>
            </div>
        </div>
        <table cTable>
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">NameEN</th>
                    <th scope="col">NameVN</th>
                    <th scope="col">Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>&#64;mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>&#64;fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colSpan="2">Larry the Bird</td>
                    <td>&#64;twitter</td>
                </tr>
            </tbody>
        </table>

        <!-- Table of Questions -->

        <div class="d-flex justify-content-between align-items-center title mt-4">
            <span>3. Questions</span>
            <div class="d-flex justify-content-end">
                <button cButton type="button"
                    class="btn-success me-2 text-white d-flex justify-content-center align-items-center">
                    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                    <span>Question Group</span>
                </button>
                <button cButton type="button"
                    class="btn-success text-white d-flex  justify-content-center  align-items-center">
                    <svg [cIcon]="icons.cilPlus" width="25" class="text-white" title="Plus Icon"></svg>
                    <span>Question</span>
                </button>
            </div>
        </div>
        <table cTable>
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">NameEN</th>
                    <th scope="col">NameVN</th>
                    <th scope="col">Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>&#64;mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>&#64;fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colSpan="2">Larry the Bird</td>
                    <td>&#64;twitter</td>
                </tr>
            </tbody>
        </table>

        <!-- Button Submit Creation Form -->
        <div class="d-flex justify-content-end mt-4">
            <button cButton type="submit" (click)="onSubmit()" [disabled]="!createForm.valid">Submit</button>
            <button cButton type="button" routerLink="/surveys/extend-survey/survey-forms" class="ms-2 btn-info">Back to
                list</button>
        </div>
    </c-card-body>
</c-card>