<div class="surveyPage">
    <div class="surveyFormContainer">
        <div class="header">
            <img class="logo" src="../../../../assets/images/thisologo1.png" alt="logo" />
            <span class="fw-bold language" (click)="handleChangeLanguage()">{{language}}</span>
        </div>
        <div class="body">
            @if (surveyForm != null) {
                @if (currentPaticipantId() == '') {
                    <app-survey-information 
                        [language]="language" 
                        [initSurveyForm]="surveyForm"
                        (onUpdateCurrentParticipantId)="onUpdateCurrentParticipantId($event)">
                    </app-survey-information>
                } @else {
                    <app-survey-content 
                        [language]="language" 
                        [initSurveyForm]="surveyForm"
                        [participantId]="currentPaticipantId()"
                        (onSubmitParticipantForm)="onSubmitParticipantForm($event)">
                    </app-survey-content>
                }
            }
        </div>
    </div>
</div>