<h1>Create Account</h1>
<c-card>
    <c-card-body>
        <form cForm [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <c-form-check>
                    <input cFormCheckInput formControlName="isActive" id="isActive" type="checkbox" class="me-2" />
                    <label cFormCheckLabel for="isActive">Active</label>
                </c-form-check>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-sm-4">
                    <label cLabel for="roleId">Select Role: <span class="text-danger">(*)</span></label>
                    <select cFormControl formControlName="roleId" cSelect>
                        <option value="-1">Select Role</option>
                        @for (item of roles; track item.id) {
                          <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>
                    @if (roleId?.invalid && (roleId?.dirty || roleId?.touched)) {
                      <div class="text-danger">
                        @if (roleId?.hasError('min')) {
                          <div>
                            Select a role, please!
                          </div>
                        }
                      </div>
                    }
                    @if (errorModel.roleId && errorModel.roleId.length) {
                      <div class="text-danger">
                        @for (error of errorModel.roleId; track $index) {
                          <div>{{ error }}</div>
                        }
                      </div>
                    }
                </div>
                <div class="col-12 col-sm-4">
                    <label cLabel for="mallId">Select mall:</label>
                    <select cFormControl formControlName="mallId" cSelect>
                        <option value="-1">Select Mall</option>
                        <!-- <option *ngFor="let slideTheme of slideThemes" [value]="slideTheme.id">{{ slideTheme.title }}
                </option> -->
                    </select>
                </div>
                <div class="col-12 col-sm-4">
                    <label cLabel for="officeId">Select office:</label>
                    <select cFormControl formControlName="officeId" cSelect>
                        <option value="-1">Select office</option>
                        <!-- <option *ngFor="let slideTheme of slideThemes" [value]="slideTheme.id">{{ slideTheme.title }}
                </option> -->
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <!-- <div class="col-4">
                    <label cLabel for="fullName">FullName:<span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="fullName" type="text" />
                    <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="text-danger">
                        <div *ngIf="fullName?.hasError('required')">
                            Enter your fullname, please!
                        </div>
                        <div *ngIf="fullName?.hasError('fullname')">
                            Fullname don't have special characters, numbers, minimum 3 characters, maximum 50 characters!
                        </div>
                    </div>
                    <div *ngIf="errorModel.fullName && errorModel.fullName.length" class="text-danger">
                        <div *ngFor="let error of errorModel.fullName">{{ error }}</div>
                    </div>
                </div> -->
           
                <div class="col-12 col-sm-6">
                    <label cLabel for="email">Email:<span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="email" type="text" />
                    @if (email?.invalid && (email?.dirty || email?.touched)) {
                      <div class="text-danger">
                        @if (email?.hasError('required')) {
                          <div>
                            Enter your email, please!
                          </div>
                        }
                        @if (email?.hasError('email')) {
                          <div>
                            Email is invalid!
                          </div>
                        }
                      </div>
                    }
                    @if (errorModel.email && errorModel.email.length) {
                      <div class="text-danger">
                        @for (error of errorModel.email; track $index) {
                          <div>{{ error }}</div>
                        }
                      </div>
                    }
                </div>
                <div class="col-12 col-sm-6">
                    <label cLabel for="phoneNumber">PhoneNumber:</label>
                    <input cFormControl formControlName="phoneNumber" type="text" maxlength="10" />
                    @if (phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)) {
                      <div class="text-danger">
                        @if (phoneNumber?.hasError('phoneNumber')) {
                          <div class="text-danger">
                            Phone number must be vietnamese phone number!
                          </div>
                        }
                      </div>
                    }
                    @if (errorModel.phoneNumber && errorModel.phoneNumber.length) {
                      <div class="text-danger">
                        @for (error of errorModel.phoneNumber; track $index) {
                          <div>{{ error }}</div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-sm-6">
                    <label cLabel for="userName">UserName:<span class="text-danger">(*)</span></label>
                    <input cFormControl formControlName="userName" type="text" />
                    @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
                      <div class="text-danger">
                        @if (userName?.hasError('required')) {
                          <div>
                            Enter your username, please!
                          </div>
                        }
                        @if (userName?.hasError('userName')) {
                          <div>
                            Username length must be between 6 and 50 characters, must not contain spaces, must be null!
                          </div>
                        }
                      </div>
                    }
                    @if (errorModel.userName && errorModel.userName.length) {
                      <div class="text-danger">
                        @for (error of errorModel.userName; track $index) {
                          <div>{{ error }}</div>
                        }
                      </div>
                    }
                </div>
                <div class="col-12 col-sm-6">
                    <label cLabel for="password">Password:<span class="text-danger">(*)</span></label>
                    <input cFormControl minlength="6" maxlength="20" formControlName="password" type="password" />
                    @if (password?.invalid && (password?.dirty || password?.touched)) {
                      <div class="text-danger">
                        @if (password?.hasError('required')) {
                          <div>
                            Enter your password, please!
                          </div>
                        }
                        @if (password?.hasError('minlength') || password?.hasError('maxlength')) {
                          <div>
                            Password length must be between 6 and 20 characters!
                          </div>
                        }
                      </div>
                    }
                    @if (errorModel.password && errorModel.password.length) {
                      <div class="text-danger">
                        @for (error of errorModel.password; track $index) {
                          <div>{{ error }}</div>
                        }
                      </div>
                    }
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button cButton type="submit" type="submit" [disabled]="!formData.valid">Submit</button>
                <button cButton type="button" routerLink="/accounts" class="ms-2 btn-info">Back to list</button>
            </div>
        </form>
    </c-card-body>
</c-card>
