@if(surveyForm) {
  <div class="surveyPage">
    <div class="surveyFormContainer">
      <div class="header">
        <span class="fw-bold">Lulusia Kingdom</span>
        <button class="btn-language " (click)="onChangeLanguage()">{{selectedLanguage}}</button>
      </div>
      <div class="body">
        <h3 class="surveyTitle mb-4">{{ selectedLanguage === eLanguages.Vietnamese ? surveyForm.titleVN : surveyForm.titleEN || '' }}</h3>
        <div [innerHTML]="selectedLanguage === eLanguages.Vietnamese ? surveyForm.descriptionVN : surveyForm.descriptionEN || ''"></div>
        <app-participant-info 
        #participantInfoComponent
        [selectedLanguage]="selectedLanguage" [participantFields]="surveyForm.participantInfoConfigs">
      </app-participant-info>
        <div class="text-center">
          <button type="button" class="btn btn-primary btn-submit" (click)="onStartSurvey()">
            {{ selectedLanguage === eLanguages.Vietnamese ? 'Bắt đầu khảo sát' : 'Start Survey' }}
          </button>
        </div>
      </div>
    </div>
  </div>
}