<div class="surveyPage">
    <div class="surveyFormContainer">
        <div class="header">
            <img class="logo" src="../../../../assets/images/thisologo1.png" alt="logo" />
            <span class="fw-bold language" (click)="handleChangeLanguage()">{{selectedLanguage}}</span>
        </div>
        <div class="body d-flex flex-column align-items-center">
            <h3 class="mt-4">
                @if (selectedLanguage === eLanguages.English)
                {
                    The {{surveyForm?.titleEN}} program has expired!
                }
                @else
                {
                    Chương trình {{surveyForm?.titleVN}} đã kết thúc!
                }
            </h3>
            <div class="textContent mt-4 mb-4 d-flex flex-column gap-2">
                @if (selectedLanguage === eLanguages.English)
                {
                    <span>Thiso Mall would like to thank you for your continued patronage.</span>
                    <span>The “{{surveyForm?.titleEN}}” program has now closed.</span>
                    <span>If you would like to share your feedback, you may submit it through our <a href='https://voc.thiso.vn/' target='_blank'>Voice of Customer (VOC) System</a> or visit the Customer Service Counter for further assistance.</span>
                }
                @else
                {
                    <span>Thiso Mall xin chân thành cảm ơn Quý khách!</span>
                    <span>Chương trình “{{surveyForm?.titleVN}}” đã kết thúc.</span>
                    <span>Quý khách vẫn có thể gửi góp ý thêm tại <a href='https://voc.thiso.vn/' target='_blank'>Hệ thống ghi nhận góp ý khách hàng</a> (VOC) hoặc liên hệ quầy Chăm sóc khách hàng để được hỗ trợ.</span>
                }
            </div>
            <img style="max-width:50%;" src="../../../../assets/images/Pose5_Rainbow.gif" alt="..." />
        </div>
    </div>
</div>