<div class="surveyPage">
    <div class="surveyFormContainer">
        <div class="header">
            <img class="logo" src="../../../../assets/images/thisologo1.png" alt="logo" />
            <span class="fw-bold language" (click)="handleChangeLanguage()">{{selectedLanguage}}</span>
        </div>
        <div class="body d-flex flex-column align-items-center">
            <div class="textContent mt-4 mb-4 d-flex flex-column gap-2">
                @if (selectedLanguage === eLanguages.English)
                {
                    <span>Thank you for taking the time to complete this survey.</span>
                    <span>Reward points will be credited to your membership account within 03 working days, please check the Activity History section on Thiso Rewards app for updates.</span>
                    <span>Your feedback is a valuable motivation for Thiso Mall to continuously improve.</span>
                }
                @else
                {
                    <span>Xin chân thành cảm ơn Quý khách đã dành thời gian tham gia khảo sát.</span>
                    <span>Điểm thưởng sẽ được tích lũy vào tài khoản thành viên trong vòng 03 ngày làm việc, Quý khách vui lòng theo dõi mục Lịch sử hoạt động trên ứng dụng Thiso Rewards để biết thêm thông tin.</span>
                    <span>Mỗi phản hồi của Quý khách là nguồn động lực quý giá, giúp Thiso Mall ngày càng hoàn thiện hơn.</span>
                }
            </div>
            <img style="max-width:50%;" src="../../../../assets/images/Pose5_Rainbow.gif" alt="..." />
        </div>
    </div>
</div>