<footer class="border-top footer text-muted">
    <img src="~/assets/images/logo.png" alt="logo" />
    <div class="row">
        <div class="col-4">
            <h5>About Us</h5>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium, totam rem aperiam,
            </p>
        </div>
        <div class="col-4">
            <h5>Get news & offers</h5>
            <input type="email" placeholder="Enter your mail"/>

        </div>
        <div class="col-4">
            <h5>Contact Us</h5>
            <p>
                Address
            </p>
            <p>PhoneNumber</p>
        </div>
    </div>
    <div class="container">
        &copy; 2025 - Restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>