<header class="headerContainer">
    <section class="headerDesktop">
        <a class="logoImage" asp-controller="Home" asp-action="Index">
            <img class="w-100" src="~/assets/images/logo.png" alt="logo" />
        </a>
        <ul class="navBar">
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Privacy">Menu</a>
            </li>
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Privacy">Promotion</a>
            </li>
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Privacy">Reservation</a>
            </li>
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Privacy">Blog</a>
            </li>
            <li class="navItem">
                <a  asp-controller="Home" asp-action="Privacy">About Us</a>
            </li>
        </ul>
        <a asp-controller="Home" asp-action="Index">
            Vietnamese
        </a>
    </section>
</header>