<div>
    <img src="~/assets/images/slideshow-1.jpg" alt="banner" class="img-fluid w-100" />
    <div>
        <h6>
            Because you deserve to enjoy the best
        </h6>
        <h1>Nice Dinnner</h1>
        <img src="~/assets/images/cuisine-1956.png" alt="Cuisine 1956"/>
    </div>
</div>