/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";

@use "login";

//#region custom controls
.number-control {
    max-width: 80px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cui-body-color);
    appearance: none;
    background-color: var(--cui-body-bg);
    background-clip: padding-box;
    border: var(--cui-border-width) solid var(--cui-border-color);
    border-radius: var(--cui-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.number-control:focus {
    color: var(--cui-body-color);
    background-color: var(--cui-body-bg);
    outline: 0;
    border-color: rgb(71, 71, 71);
    box-shadow: 0 0 0 1px rgba(71, 71, 71, 0.25);
}
.form-control:focus,
.form-control:hover  {
    border-color: rgb(71, 71, 71);
    box-shadow: 0 0 0 1px rgba(71, 71, 71, 0.25);
}
//#endregion

//#region select inputs
.ant-select {
    width: 100%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cui-body-color);
    appearance: none;
    background-color: var(--cui-body-bg);
    background-clip: padding-box;
    border: var(--cui-border-width) solid var(--cui-border-color);
    border-radius: var(--cui-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.375rem 0.75rem;
    height: 38px !important;
    display: flex;
    align-items: center;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: var(--cui-border-width) solid var(--cui-border-color);
}


.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: var(--cui-body-color);
    background-color: var(--cui-body-bg);
    outline: 0;
    border-color: rgb(71, 71, 71);
    box-shadow: 0 0 0 1px rgba(71, 71, 71, 0.25);
}

.ant-select-selector {
    height: auto !important;
    //padding: 0.375rem 0.75rem!important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-search,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 38px;

}

.ant-select-selection-item.ng-star-inserted {
    height: 100%;
}

.ant-select-tree.ant-select-tree-block-node .ant-select-tree-list-holder-inner {
    max-height: 300px;
}

.cdk-overlay-container {
    z-index: 9999;
}

//#endregion
.ant-picker-range .ant-picker-active-bar {
    background: #000000;
}

//#region table tree
.tableChildren td,
.tableChildren th,
.tdChildren,
.children td {
    background-color: #d4d4d4;
}
.expanded td {
    font-weight: bold;
    color: #fff;
    background-color: #323a49;
}
//#endregion

//#region model
.customTitle {
    background-color: #212631;
    padding: 0.25rem 0.5rem;
    color: #fff;

    &>span {
        font-weight: 600;
        font-size: 1.25rem;
    }
}
.btnClose {
    background-color: rgb(255, 255, 255, 0.2);
    font-weight: 900;
}
.btnClose:hover, .btnClose:active {
    background-color: rgb(255, 255, 255, 0.4)!important;
    border-color: white!important;
}
//#endregion

//#region table row
.editing {
    td {

        background-color: #fff3cd !important;
    }

    border-left: 4px solid #ffc107;
}
.adding {
    td {
        background-color: #d1ecf1 !important;
    }

    border-left: 4px solid #17a2b8;

    .new-id {
        font-weight: 600;
        color: #17a2b8;
        font-style: italic;
    }
}
//#endregion

//#region Collapse
.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #323a49;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed)::after {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"%3e%3cpath d="m2 5 6 6 6-6"/%3e%3c/svg%3e');
}
//#endregion