/*#region banner*/
.aboutBanner {
  background-image: url("../assets/images/about/banner.jpg");
}

/*#endregion*/
/*#region our story*/
.ourStoryWrapper {
  background-image: url("../assets/images/about/our-story-background.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 229px 0 252px;
}

.ourStory1, .ourStory2 {
  position: absolute;
}

.ourStory1 {
  right: 0;
  top: 150px;
}

.ourStory2 {
  left: 0;
  bottom: 150px;
}

.ourStoryContent {
  padding: 23px 20px;
  background: #181818;
  width: 53.84%;
  margin: auto;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 9;
}

.ourStoryContent .inner {
  border: 1px solid #accadd;
  padding: 101px 54px 80px;
}

.ourStoryContent .heading {
  margin-bottom: 35px;
}

.ourStoryContent .heading h2 {
  color: #fff;
  font-size: 55px;
  font-family: "Satisfy-Regular";
  font-weight: 400;
}

.borderPlace {
  transform: translate(-8px, -11px);
}

.ourStoryContent p {
  line-height: 2;
  margin-bottom: 60px;
}

.ourStoryContent .name {
  display: inline-block;
  margin-left: 1px;
}

.ourStoryContent .name h6 {
  font-family: "Raleway-SemiBold";
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 3px;
  color: #fff;
}

/* Responsive */
@media (max-width: 1500px) {
  .ourStoryContent .inner {
    padding: 64px 34px 51px;
  }
  .ourStoryContent .heading {
    margin-bottom: 25px;
  }
  .ourStoryContent p {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .ourStoryWrapper {
    padding: 129px 0 152px;
  }
  .ourStory1 {
    top: 50px;
  }
  .ourStory2 {
    bottom: 50px;
  }
  .ourStoryContent {
    width: 60%;
  }
  .ourStoryContent .heading h2 {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .ourStoryWrapper {
    padding: 89px 0 112px;
  }
  .ourStoryContent {
    width: 80%;
  }
  .ourStoryContent .inner {
    padding: 44px 34px 31px;
  }
  .ourStoryWrapper img {
    display: none;
  }
  .ourStoryContent .heading h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .ourStoryWrapper {
    padding: 50px 0 50px;
  }
  .ourStoryContent {
    width: 100%;
    padding: 10px;
  }
  .ourStoryContent .inner {
    padding: 50px 20px;
  }
  .ourStoryContent p {
    margin-bottom: 30px;
  }
  .ourStoryContent .heading h2 {
    font-size: 35px;
  }
}
/*#endregion*/
/*#region our best service*/
.ourService {
  background: url("../assets/images/about/our-service-bg.jpg") center center;
  background-size: cover;
}

.ourServiceCol {
  color: #fff;
  text-align: center;
  border: 2px solid #80694d;
  height: 100%;
  padding: 45px 21px 39px;
  background: #cdaa7c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ourServiceCol h3 {
  font-size: 30px;
  font-family: "Satisfy-Regular";
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
}

.ourServiceCol p {
  margin-top: 19px;
}

/* Responsive */
@media (max-width: 992px) {
  .ourServiceCol {
    margin-bottom: 30px;
    height: auto;
  }
}
/*#endregion*/
/*#region about us*/
.aboutUs .imageHolder {
  height: 100%;
  background-size: cover;
}

.aboutUs .imageHolder img {
  height: 100%;
  object-fit: cover;
}

.aboutUsCol {
  background: #eae7de;
  padding: 89px 50px 86px;
  height: 100%;
}

.aboutUsCol .section-header {
  text-align: left;
  margin-bottom: 34px;
}

.aboutUsCol p {
  margin-bottom: 39px;
  line-height: 2;
}

.btnReadMore {
  text-transform: uppercase;
  color: #333;
  text-decoration: underline;
  display: inline-block;
}

/* Responsive */
@media (max-width: 992px) {
  .aboutUsCol {
    padding: 39px 30px 36px;
  }
}
@media (max-width: 768px) {
  .aboutUs .imageHolder img {
    height: auto;
  }
}
@media (min-width: 768px) {
  .px-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
/*#endregion*/
/*#region general*/
.sectionPrimary {
  padding-top: 139px;
  padding-bottom: 116px;
}

/* Responsive */
@media (max-width: 1200px) {
  .sectionPrimary {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
@media (max-width: 992px) {
  .sectionPrimary {
    padding-top: 90px;
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .sectionPrimary {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*#endregion*/
