@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region text-color*/
/*#endregion*/
/*#region text-style*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*#endregion*/
/*#region font-weight*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/*#endregion*/
/*#region font-family*/
.font-raleway-semibold {
  font-family: "Raleway SemiBold";
}

.font-satisfy-regular {
  font-family: "Satisfy Regular";
}

.font-raleway-regular {
  font-family: "Raleway Regular";
}

.font-bitter-regular {
  font-family: "Bitter Regular";
}

/*#endregion*/
/*#region font-size */
.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 26px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-34 {
  font-size: 34px;
}

.text-38 {
  font-size: 38px;
}

/*#endregion*/
/*#region button*/
.button-white-border {
  color: #fff;
  border-block-color: #fff;
  border: 2px solid;
  background-color: transparent;
  padding: 4px 6px;
}

/*#endregion*/
/*#region summary*/
.is-divider {
  height: 3px;
  display: block;
  background-color: #E5E5E5;
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}
@media only screen and (width < 576px) {
  .is-divider {
    margin: 0.75em 0;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.div-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

/*#endregion*/
/*#region toast*/
.toast-header-success {
  padding: 0.25rem 0.5rem;
  background-color: #bae6d0;
  color: #049141;
}
.toast-header-success .ti-bell {
  font-size: 18px;
}
.toast-header-success .ti-close {
  color: #049141;
}

.toast-header-error {
  padding: 0.25rem 0.5rem;
  background-color: #e6b8b8;
  color: #d93938;
}
.toast-header-error .ti-bell {
  font-size: 18px;
}
.toast-header-error .ti-close {
  color: #d93938;
}

.toast-header-warning {
  padding: 0.25rem 0.5rem;
  background-color: #fae8ca;
  color: #fbaa29;
}
.toast-header-warning .ti-bell {
  font-size: 18px;
}
.toast-header-warning .ti-close {
  color: #fbaa29;
}

/*#endregion*/
/*#region custom-library*/
.accordion-button:not(.collapsed) {
  color: #000000;
  font-weight: 600;
  background: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}

.customCarousel .owl-nav {
  display: none;
}

.customCarousel .owl-dots {
  margin-top: 10px;
}

.icon {
  width: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  max-width: 1050px;
  min-height: 52vh;
  margin: auto;
  padding: 1.25rem 1rem;
}

@media only screen and (width >= 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media only screen and (width >= 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
/*#endregion*/
