@import "VariableGlobal.scss";


.homePage {
    //max-width: $maxWidthContent;
    margin: auto;
    width: 100%;

    .homeBannerV1 {
        width: 100%;
        max-height: 100vh;
        overflow: hidden;

        .banner {
            width: 100%;
            aspect-ratio: 16/9;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .intro {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;

                .title {
                    font-weight: 400;
                    font-size: 99px;
                }

                .subTitle {
                    font-weight: 500;
                    font-size: 22px;
                    color: rgb(204, 204, 204);
                }

                img {
                    max-width: 320px;
                }
            }
        }
        /*.categorySuggestion {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .suggestion {
                width: auto;
                max-height: 274px;
                border: 1px solid #e5e7eb;
            }
        }*/
        .subBanner {
            width: 100%;
            min-height: 274px;
            border: 1px solid #e5e7eb;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;



            @include respond(map-get($breakPoint,"sm")) {
                min-height: 200px;

                .subBanner1 {
                    width: 80% !important;
                }
            }

            .subBanner1, .subBanner2, .subBanner3 {
                position: absolute;
            }

            .subBanner1 {
                width: 60%;
                min-height: 40%;
                background-color: #fff;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                color: #ff2323;
                box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

                & a {
                    color: #ff2323 !important;
                }
            }

            .subBanner2 {
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                & div {
                    font-size: 1.25rem;
                    font-weight: bold;
                    width: 70%;
                    background-color: #e7328e;
                    margin-bottom: 0.5rem;
                    color: #fff;
                    padding-bottom: 0.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & a {
                    color: #fff !important;
                    text-decoration: none;
                    text-align: center;
                    width: 60%;
                    padding: 0.25rem 0;
                    background-color: #ff2323;
                    border: 1px solid #fff;
                }
            }

            .subBanner3 {
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & div {
                    font-size: 1.25rem;
                    font-weight: bold;
                    width: 70%;
                    color: #e6338c;
                    background: black;
                    opacity: 0.8;
                    padding: 0.25rem 0;
                    text-align: center;
                }
            }
        }
    }

    .slideShowContainer {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        flex-direction: row;

        .slide {
            max-width: 570px;
            margin: auto;
            background-color: $color_black_181818;
            position: relative;
            color: $color_white_fff;

            .slideInfor {
                padding: 2rem 3rem;
                text-align: center;

                .heading {
                    margin-bottom: 1.25rem;

                    .title {
                    }
                }
            }
        }

        .slide::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border: 1px solid rgba(205, 170, 124, 0.5);
        }
    }

    .ourServiceContainer {
        width: 100%;
        min-height: 400px;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url('../assets/images/home/our-service-bg.jpg');

        .ourServices {
            display: flex;
            flex-direction: row;

            .serviceBox {
                color: $color_white_fff;
                background-color: $color_yellow_CDAA7C;
                width: 270px;
                margin-right: 1rem;
                padding: 1.5rem 1rem;
                border: 2px solid $color_yellow_80694D;

                .icon {
                    width: 66px;
                    padding: 1rem 0;
                }
            }

            .serviceBox:hover {
                background-color: transparent;
            }

            .serviceBox:last-child {
                margin-right: 0;
            }
        }
    }

    .ourMenuContainer {
        width: 100%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ourMenu {
            max-width: 1170px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .menuBox {
                width: 100%;
                display: flex;
                flex-direction: row;
                //justify-content: end;
                position: relative;

                .menuImage {
                    width: 70%;
                    //aspect-ratio: 1/1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .menuInfor {
                    max-width: 600px;
                    width: 100%;
                    background-color: $color_white_fff;
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
                    //position: absolute;
                    //left: 0;
                    padding: 2rem;

                    .heading {
                        position: relative;
                        margin-bottom: 1.5rem;

                        .menuIcon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }

                    .menuItem {
                        margin-bottom: 2rem;

                        .dots {
                            flex-grow: 1;
                            border-bottom: 1px dotted;
                            transform: translateY(-6px);
                        }

                        ul li {
                            margin-right: 5px;

                            span {
                                color: $color_black_000000;
                                font-weight: 500;
                                opacity: 0.6;

                                &::after {
                                    content: '/';
                                    margin-left: 4px;
                                }
                            }

                            &:last-child span::after {
                                content: '';
                            }
                        }
                    }
                }
            }
        }
    }
}
