@font-face {
  font-family: "Satisfy Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Bitter Regular";
  src: url("../assets/fonts/Bitter/Bitter-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.homePage {
  margin: auto;
  width: 100%;
}
.homePage .homeBannerV1 {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  /*.categorySuggestion {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .suggestion {
          width: auto;
          max-height: 274px;
          border: 1px solid #e5e7eb;
      }
  }*/
}
.homePage .homeBannerV1 .banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homePage .homeBannerV1 .banner .intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.homePage .homeBannerV1 .banner .intro .title {
  font-weight: 400;
  font-size: 99px;
}
.homePage .homeBannerV1 .banner .intro .subTitle {
  font-weight: 500;
  font-size: 22px;
  color: rgb(204, 204, 204);
}
.homePage .homeBannerV1 .banner .intro img {
  max-width: 320px;
}
.homePage .homeBannerV1 .subBanner {
  width: 100%;
  min-height: 274px;
  border: 1px solid #e5e7eb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (width < 768px) {
  .homePage .homeBannerV1 .subBanner {
    min-height: 200px;
  }
  .homePage .homeBannerV1 .subBanner .subBanner1 {
    width: 80% !important;
  }
}
.homePage .homeBannerV1 .subBanner .subBanner1, .homePage .homeBannerV1 .subBanner .subBanner2, .homePage .homeBannerV1 .subBanner .subBanner3 {
  position: absolute;
}
.homePage .homeBannerV1 .subBanner .subBanner1 {
  width: 60%;
  min-height: 40%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ff2323;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.homePage .homeBannerV1 .subBanner .subBanner1 a {
  color: #ff2323 !important;
}
.homePage .homeBannerV1 .subBanner .subBanner2 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner2 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  background-color: #e7328e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner2 a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  width: 60%;
  padding: 0.25rem 0;
  background-color: #ff2323;
  border: 1px solid #fff;
}
.homePage .homeBannerV1 .subBanner .subBanner3 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner3 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  color: #e6338c;
  background: black;
  opacity: 0.8;
  padding: 0.25rem 0;
  text-align: center;
}
.homePage .slideShowContainer {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
}
.homePage .slideShowContainer .slide {
  max-width: 570px;
  margin: auto;
  background-color: #181818;
  position: relative;
  color: #fff;
}
.homePage .slideShowContainer .slide .slideInfor {
  padding: 2rem 3rem;
  text-align: center;
}
.homePage .slideShowContainer .slide .slideInfor .heading {
  margin-bottom: 1.25rem;
}
.homePage .slideShowContainer .slide::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid rgba(205, 170, 124, 0.5);
}
.homePage .ourServiceContainer {
  width: 100%;
  min-height: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../assets/images/home/our-service-bg.jpg");
}
