@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.homePage {
  max-width: 1050px;
  margin: auto;
}
@media only screen and (width < 1200px) {
  .homePage {
    max-width: 100%;
  }
}
.homePage .homeBanner {
  width: 100%;
  overflow: hidden;
  /*.categorySuggestion {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .suggestion {
          width: auto;
          max-height: 274px;
          border: 1px solid #e5e7eb;
      }
  }*/
}
.homePage .homeBanner .banner {
  width: 100%;
  max-height: 400px;
  aspect-ratio: 16/9;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homePage .homeBanner .banner .bannerIntro {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .banner .bannerIntro .tag {
  color: #ffffff;
  min-width: 90px;
  padding: 0.25rem 1rem;
  margin: 0 0.5rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-align: center;
}
.homePage .homeBanner .subBanner {
  width: 100%;
  min-height: 274px;
  border: 1px solid #e5e7eb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (width < 768px) {
  .homePage .homeBanner .subBanner {
    min-height: 200px;
  }
  .homePage .homeBanner .subBanner .subBanner1 {
    width: 80% !important;
  }
}
.homePage .homeBanner .subBanner .subBanner1, .homePage .homeBanner .subBanner .subBanner2, .homePage .homeBanner .subBanner .subBanner3 {
  position: absolute;
}
.homePage .homeBanner .subBanner .subBanner1 {
  width: 60%;
  min-height: 40%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ff2323;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.homePage .homeBanner .subBanner .subBanner1 a {
  color: #ff2323 !important;
}
.homePage .homeBanner .subBanner .subBanner2 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner2 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  background-color: #e7328e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner2 a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  width: 60%;
  padding: 0.25rem 0;
  background-color: #ff2323;
  border: 1px solid #fff;
}
.homePage .homeBanner .subBanner .subBanner3 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBanner .subBanner .subBanner3 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  color: #e6338c;
  background: black;
  opacity: 0.8;
  padding: 0.25rem 0;
  text-align: center;
}
.homePage .homeContent {
  overflow: hidden;
}
@media only screen and (width < 1200px) {
  .homePage .homeContent {
    max-width: 95%;
    margin: auto;
  }
}

.effect-snow {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/snow1.png"), url("/assets/images/snow2.png");
  -webkit-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
.effect-sparkle {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/sparkle1.png"), url("/assets/images/sparkle2.png");
  -webkit-animation: sparkle 60s linear infinite;
  animation: sparkle 60s linear infinite;
}

@keyframes sparkle {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
