@import "VariableGlobal.scss";
/*#region header*/
.headerContainer {
    top: 0;
    position: fixed;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
    background-color: #000;
    z-index: 9;
    padding: 20px 80px;

    .headerDesktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        .logoImage {
            max-width: 52px;
            height: auto;
        }

        .navBar {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;

            .navItem {
                margin-right: 1.5rem;
                display: flex;
                align-items: center;

                a {
                    color: $color_white_fff;
                    text-decoration: unset;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                }

                //a:hover {
                //    color: $color_pink_e72f8b;
                //}

                svg {
                    margin-right: 6px;
                }
            }

            .navItem:last-child {
                margin-right: 0;
            }
        }
    }


    .headerMain {
        max-width: $maxWidthContent;
        height: 110px;
        margin: auto;
        //overflow: scroll;
        z-index: 2;
        position: relative;
        background-color: #fff;
        //display: flex;
        //justify-content: space-between;
        //align-items: center;

        @include respond(map-get($breakPoint,"lg")) {
            padding: 0 0.75rem;
        }

        @include respond(map-get($breakPoint,"sm")) {
            height: auto;
            padding: 0.5rem 0.75rem;
        }

        .boxCard {
            width: 100%;
            display: flex;
            justify-content: end;
            flex-direction: row;
            align-items: center;

            .ti-close, .ti-search {
                font-size: 1.5rem;
                font-weight: bold;
                margin-left: 1rem;
            }
        }

        .logo {
            max-width: 210px;
            height: auto;

            @include respond(map-get($breakPoint,"xs")) {
                max-width: 160px;
            }
        }

        .call {
            display: flex;
            flex-direction: row;
            height: 35px;
            width: 70%;
            max-width: 130px;
            border: 2px solid #333;
            border-radius: 20px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: #000;
            opacity: 0.5;

            svg {
                margin-right: 6px;
            }
        }

        .call:hover {
            background-color: $color_black_000000;
            color: $color_white_fff;
            opacity: 1;

            svg path {
                fill: $color_white_fff !important;
            }
        }

        .cart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .numberProductInCard {
                position: absolute;
                top: -5px;
                right: -10px;
                min-width: 20px;
                width: max-content;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #E32E2D;

                span {
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .cartImage {
                height: auto;
                width: 1.75rem;
            }
        }
    }

    .headerBottom {
        max-width: $maxWidthContent;
        margin: auto;
        padding: 0.25rem 0;

        @include respond(map-get($breakPoint,"lg")) {
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }

        @include respond(map-get($breakPoint,"sm")) {
            display: none;
        }

        .menuGroup {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            padding: 0.25rem 0;
            flex-wrap: wrap;

            & > li {
                display: inline;
                position: relative;

                a {
                    padding: 0 14px;
                    color: $color_black_000000;
                    text-decoration: unset;
                    border-right: 1px solid #ccc;
                }
                /*a:first-child {
                    border-left: unset;
                }*/

                //a:hover {
                //    color: $color_pink_e72f8b;
                //}

                .menuItem {
                    display: none;
                    list-style-type: none;
                    padding: 0;
                    position: absolute;
                    width: max-content;
                    max-height: 150px;
                    background-color: $color_white_fff;
                    z-index: 100;
                    padding: 1rem 0.5rem;
                    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.125);
                    flex-wrap: wrap;
                    flex-direction: column;

                    a {
                        border: unset;
                        padding: 0;
                        margin: 0 0.75rem;
                        text-transform: capitalize;
                    }
                }
            }

            & > li::before {
                content: "";
                height: 20px;
                width: 60px;
                background: none;
                position: absolute;
                top: 25px;
                cursor: pointer;
                z-index: 2;
            }

            & > li:last-child a {
                border-right: unset;
            }

            & > li:hover .menuItem {
                display: flex;
            }
        }
    }

    .iconMenuMobile {
        font-size: 1.5rem;
    }

    #searchBoxMobile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        border-top: 2px solid #000;
        top: -100vh;

        .searchContainer {
            width: 100%;
            height: 50vh;
            max-height: 300px;
            background-color: #fff;
            padding: 1rem;
            position: relative;
            z-index: 1;

            .searchBox {
                max-width: 75%;
            }
        }

        .virtualSearchBoxMobile {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
        }
    }

    .showSearchBoxMobile {
        animation: showSearchBoxMobile 1s forwards;
    }

    .hideSearchBoxMobile {
        animation: hideSearchBoxMobile 1s forwards;
    }

    @keyframes showSearchBoxMobile {
        0% {
            top: -100vh;
        }

        100% {
            top: 100%;
        }
    }

    @keyframes hideSearchBoxMobile {
        0% {
            top: 100%;
        }

        100% {
            top: -100vh;
        }
    }

    #menuMobile {
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        position: fixed;
        z-index: 10;
        top: 0;
        left: -100vw;

        .btnClose {
            position: absolute;
            top: 5px;
            right: 1px;

            span {
                background-color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
                color: #000;
                padding: 3px;
                border: 1px solid #000;
            }
        }

        .menuBox {
            width: 80%;
            height: 100%;
            background-color: #fff;

            .logoMobile {
                border-bottom: 2px solid #000;

                img {
                    width: 120px;
                    height: auto;
                }
            }

            .menu {
                overflow-x: hidden;
                overflow-y: scroll;
                max-height: 90%;
                padding: 1rem;

                .menuGroup {
                    padding-top: 0.5rem;
                    border-top: 1px solid rgba(0, 0, 0, 0.125);
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin: 0.5rem 0;

                    button {
                        background-color: transparent;
                        border: unset;
                    }
                }

                .menuGroupActive {
                    .col-10 > a {
                        font-weight: bold;
                    }

                    .col-2 svg {
                        transform: rotate(90deg);
                    }
                }

                a {
                    color: #000;
                    text-decoration: unset;
                }

                .menuItem {
                    a {
                        width: 100%;
                        margin: 0.25rem 0;
                    }
                }
            }

            .menu::-webkit-scrollbar {
                width: 5px;
            }

            .menu::-webkit-scrollbar-track {
                background: #c1c1c1;
            }

            .menu::-webkit-scrollbar-thumb {
                background: #000;
            }
        }
    }

    .showMenuMobile {
        animation: showMenuMobile 1s forwards;
    }

    .hideMenuMobile {
        animation: hideMenuMobile 1s forwards;
    }

    @keyframes showMenuMobile {
        0% {
            left: -100vw;
        }

        100% {
            left: 0;
        }
    }

    @keyframes hideMenuMobile {
        0% {
            left: 0;
        }

        100% {
            left: -100vw;
        }
    }

    .searchBox {
        width: 100%;
        max-width: 260px;
        height: 35px;
        position: relative;

        .inputSearch {
            width: 100%;
            height: 100%;
            border-radius: 22px;
            border-color: rgba(0,0,0,.09);
            background-color: rgba(0,0,0,.03);
            padding-left: 8px;
            padding-right: 35px;
        }

        .ti-search {
            width: 30px;
            height: 100%;
            font-weight: 900;
            position: absolute;
            font-size: larger;
            top: 0;
            right: 0;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
        }

        #searchResult {
            width: 100%;
            position: absolute;
            max-height: 60vh;
            background-color: #fff7f7;
            overflow-y: scroll;
            box-shadow: 0 8px 8px #0000004d;


            .suggest {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                color: #000;
                text-decoration: unset;
                align-items: center;
                background-color: #fff;
                padding: 4px 0;

                img {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                }

                span {
                    max-width: 75%;
                    padding-left: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }

        #searchResult::-webkit-scrollbar {
            width: 5px;
        }

        #searchResult::-webkit-scrollbar-track {
            background: #c1c1c1;
        }

        #searchResult::-webkit-scrollbar-thumb {
            background: #000;
        }
    }
}

.virtualHeader {
    width: 100%;
    height: 180px;

    @include respond(map-get($breakPoint,"md")) {
        height: 130px;
    }

    @include respond(map-get($breakPoint,"xs")) {
        height: 110px;
    }

    @media only screen and ( width >= 768px) and ( width < 994px) {
        height: 205px;
    }
}
/*#endregion*/
/*#region footer*/
.footerContainer {
    width: 100%;
    margin: auto;
    background-color: #181818;
    color: #fff;

    .footerBox {
        max-width: 1200px;
        margin: auto;
        color: #b2b2b2;

        .footerInfor {
            padding: 3rem 0;

            .logo {
                max-width: 180px;
                height: auto;
                margin-bottom: 1rem;
            }

            .title {
                font-size: 18px;
                color: $color_white_fff;
                padding-top: 3rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
        }

        .copyright {
            border-top: 1px solid rgba(255, 255, 255, 0.125);
            padding: 1rem;
            text-align: center;
            font-size: 14px;
        }
    }

    #goTop {
        background-color: #fafafa;
        display: none;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 60px;
        right: 25px;
        border-radius: 50%;
        border: 3px solid #000;
        z-index: 1;
        justify-content: center;
        align-items: center;
        opacity: 0.5;

        @include respond(map-get($breakPoint,"sm")) {
            width: 40px;
            height: 40px;
            bottom: 50px;
        }

        span {
            font-size: 20px;
            font-weight: bold;

            @include respond(map-get($breakPoint,"sm")) {
                font-size: 16px;
            }
        }
    }

    #goTop:hover {
        opacity: 1;
        //border: 3px solid $color_pink_e72f8b;
        //span {
        //    color: $color_pink_e72f8b;
        //}
    }
}
/*#endregion*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

//body {
//  margin-bottom: 60px;
//}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
