@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region header*/
.navbarDesktop {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  z-index: 9;
  width: 100%;
  float: left;
  padding-left: 80px;
  padding-right: 80px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbarDesktop .left,
.navbarDesktop .right,
.navbarMobile .left,
.navbarMobile .right {
  width: 120px;
}

.navbarDesktop .right, .navbarMobile .right {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: flex-end;
}

.navbarDesktop .right span, .navbarMobile .right span {
  color: #fff;
}

.navbarDesktop .logo {
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbarDesktop > ul {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.navbarDesktop > ul > li {
  margin-right: 29px;
}

.navbarDesktop > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 3px 7px 2px;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

fadeInDown animation {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.navbarDesktop.fixed {
  -webkit-animation: fadeInDown 0.3s ease-out forwards;
  -moz-animation: fadeInDown 0.3s ease-out forwards;
  -o-animation: fadeInDown 0.3s ease-out forwards;
  animation: fadeInDown 0.3s ease-out forwards;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000;
  width: 100%;
  padding: 20px 80px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 1500px) {
  .navbarDesktop:not(.aside) {
    top: 20px;
  }
  .navbarDesktop:not(.aside) .logo {
    max-width: 32%;
  }
  .navbarDesktop:not(.aside).fixed {
    padding: 10px 80px;
    top: 0;
  }
}
@media (max-width: 1200px) {
  .navbarDesktop, .navbarDesktop.fixed {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbarDesktop > ul > li,
  .navbarDesktop.fixed > ul > li {
    margin-right: 19px;
  }
  .navbarDesktop > ul > li a, .navbarDesktop.fixed > ul > li a {
    pointer-events: auto;
  }
  .navbarDesktop > ul > li > a {
    font-size: 14px;
  }
  /*.navbarDesktop > ul > li a, .navbarDesktop.fixed > ul > li a {
      pointer-events: none;
  }*/
  /*.navbarDesktop, .navbarDesktop.fixed {
      padding-left: 40px;
      padding-right: 40px;
  }*/
}
@media (max-width: 992px) {
  .navbarDesktop {
    display: none;
  }
}
/*#endregion*/
/*#region footer*/
footer {
  background: #181818;
  color: #b2b2b2 !important;
  position: relative;
}

.footerTop {
  text-align: center;
}

.footerBottom {
  padding: 20px 0 19px;
  text-align: center;
}

.footerTop .footerTopWrapper {
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid #333;
}

.footerTop .footerLogo {
  margin-bottom: 59px;
}

.footerTop h6 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway-SemiBold";
  font-weight: 600;
  margin-bottom: 28px;
}

.footerTop .formInner {
  padding-top: 7px;
  margin-bottom: 27px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: center;
}

.footerTop .formInner input {
  width: 261px;
  border-radius: 21px 0 0 21px;
  padding-left: 24px;
  color: #b2b2b2;
}

.footerTop .formInner input, .footerTop .formInner button {
  height: 42px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.footerTop .formInner button {
  width: 68px;
  border-left: none;
  border-radius: 0 21px 21px 0;
  cursor: pointer;
}

.footerTop .formInner input, .footerTop .formInner button {
  height: 42px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.footerTop .formInner button span {
  font-size: 22px;
  color: #b2b2b2;
}

.lnr {
  font-family: "Linearicons-Free";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnrEnvelope:before {
  content: "\e818";
}

.social a {
  font-size: 20px;
  color: #666;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 992px) {
  h6 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .footerTop .footerTopWrapper, .footerTop .footerTopWrapper.pb-54 {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .footerCol {
    margin-bottom: 50px;
  }
  .footerCol:last-child {
    margin-bottom: 0;
  }
  .footerTop h6 {
    margin-bottom: 18px;
  }
  h6 {
    font-size: 14px;
  }
  .footerTop .formInner {
    margin-bottom: 17px;
  }
}
/*#endregion*/
/*#region item*/
.item {
  border: 1px solid #d5d5d5;
  text-align: center;
  position: relative;
  max-width: 246px;
  height: 100%;
}
.item .showImg {
  opacity: 1;
  transition: opacity 0.5s;
}
.item .showImgHover {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
.item .squareImage {
  aspect-ratio: 1/1;
}
.item .myFavoriteProduct {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0.6;
  cursor: pointer;
}
.item .myFavoriteProduct span {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #e72f8b;
}
.item .myFavoriteProduct .love path {
  fill: #ff0080;
}
.item .coupon {
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
  padding: 6px 10px;
  /*gap: 8px;*/
  /*isolation: isolate;*/
  position: absolute;
  /*height: 36px;*/
  right: -9px;
  top: -1px;
  /*border-radius: 0px 0px 0px 2px;*/
  color: #FFFFFF;
  background: #E32E2D;
  z-index: 1;
}
.item .coupon::after {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: -8px;
  border-top: 8px solid #AF0000;
  border-right: 8px solid transparent;
}
.item .addToCart {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: absolute;
  top: -50px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}
.item .addToCart span {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #000000;
}
.item .addToCart:hover {
  border: 1px solid #e72f8b;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.item:hover .showImg {
  opacity: 0;
}

.item:hover .showImgHover {
  opacity: 1;
}

.item:hover .myFavoriteProduct {
  display: flex;
}

.item:hover {
  /*border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(136.66deg, #F8046E -9.13%, #BA014F 92.54%);*/
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.buyNow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  cursor: pointer;
}

.buyNow:hover {
  color: #e72f8b;
}

.itemInfor {
  border-top: 1px solid #d5d5d5;
  padding: 5px;
}
.itemInfor p {
  margin-bottom: 4px;
}
.itemInfor .nameProduction {
  line-height: 1.3;
}
.itemInfor .nameProduction:hover {
  color: #e72f8b;
}
.itemInfor .priceOld {
  color: #615F5C;
}
.itemInfor .discount {
  color: #e72f8b;
}
.itemInfor a {
  color: #000000;
  text-decoration: none;
}

/*#endregion*/
/*#region button-quantity*/
.quantityGroup .minusButton, .quantityGroup .plusButton {
  width: 30px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e5e7eb;
}
.quantityGroup .quantityInput {
  width: 50px;
  text-align: center;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}
.quantityGroup .quantityInput:focus {
  outline: none;
}
.quantityGroup .quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/*#endregion*/
/*#region Pagination*/
.page-item:first-child .page-link {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.page-item:last-child .page-link {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.pagination {
  margin-top: 10px;
  justify-self: center;
}
.pagination .page-item {
  margin: 0 4px;
}
.pagination .page-link {
  border: 2px solid black;
  border-radius: 100%;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination .disabled > .page-link, .pagination .page-link.disabled {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--bs-pagination-disabled-bg);
  border-color: var(--bs-pagination-disabled-border-color);
}
.pagination .active {
  pointer-events: none;
}
.pagination .page-link:hover, .pagination .active > .page-link {
  background-color: black;
  color: #fff;
  font-weight: bold;
}

/*#endregion*/
/*#region Toast*/
#toastContainer .toast-body .toastImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid #a5a1a1;
}

/*#endregion*/
/*#region Banner*/
.banner-background {
  background-attachment: fixed;
  background-position: top;
  height: 550px;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
}

.banner-background .section-header {
  position: absolute;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  margin-bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 35%;
  width: 100%;
}

.section-header {
  text-align: center;
  margin-bottom: 70px;
}

.section-header h1, .section-header h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-header span {
  display: block;
  color: #cdaa7c;
  font-family: "Satisfy-Regular";
  font-size: 30px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .banner-background {
    height: 450px;
  }
}
@media (max-width: 992px) {
  .banner-background {
    height: 350px;
  }
  .banner-background .section-header {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  .section-header {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .banner-background .section-header {
    width: 100%;
  }
}
/*#endregion */
/*#region general*/
.section-primary {
  padding-top: 139px;
  padding-bottom: 116px;
}

/* Responsive */
@media (max-width: 1200px) {
  .section-primary {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
@media (max-width: 992px) {
  .section-primary {
    padding-top: 90px;
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .section-primary {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*#endregion*/
