@font-face {
  font-family: "Bitter Regular";
  font-style: normal;
  src: url("/assets/fonts/Bitter/Bitter-Regular.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  src: url("/assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway SemiBold";
  font-style: normal;
  src: url("/assets/fonts/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Satisfy Regular";
  font-style: normal;
  src: url("/assets/fonts/Satisfy/Satisfy-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Raleway Regular", sans-serif;
}

@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region text-color*/
/*#endregion*/
/*#region text-style*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*#endregion*/
/*#region font-weight*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/*#endregion*/
/*#region font-family*/
.font-raleway-semibold {
  font-family: "Raleway SemiBold";
}

.font-satisfy-regular {
  font-family: "Satisfy Regular";
}

.font-raleway-regular {
  font-family: "Raleway Regular";
}

.font-bitter-regular {
  font-family: "Bitter Regular";
}

/*#endregion*/
/*#region font-size */
.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 26px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-34 {
  font-size: 34px;
}

.text-38 {
  font-size: 38px;
}

/*#endregion*/
/*#region button*/
.button-white-border {
  color: #fff;
  border-block-color: #fff;
  border: 2px solid;
  background-color: transparent;
  padding: 4px 6px;
}

/*#endregion*/
/*#region summary*/
.is-divider {
  height: 3px;
  display: block;
  background-color: #E5E5E5;
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}
@media only screen and (width < 576px) {
  .is-divider {
    margin: 0.75em 0;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.div-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

/*#endregion*/
/*#region toast*/
.toast-header-success {
  padding: 0.25rem 0.5rem;
  background-color: #bae6d0;
  color: #049141;
}
.toast-header-success .ti-bell {
  font-size: 18px;
}
.toast-header-success .ti-close {
  color: #049141;
}

.toast-header-error {
  padding: 0.25rem 0.5rem;
  background-color: #e6b8b8;
  color: #d93938;
}
.toast-header-error .ti-bell {
  font-size: 18px;
}
.toast-header-error .ti-close {
  color: #d93938;
}

.toast-header-warning {
  padding: 0.25rem 0.5rem;
  background-color: #fae8ca;
  color: #fbaa29;
}
.toast-header-warning .ti-bell {
  font-size: 18px;
}
.toast-header-warning .ti-close {
  color: #fbaa29;
}

/*#endregion*/
/*#region custom-library*/
.accordion-button:not(.collapsed) {
  color: #000000;
  font-weight: 600;
  background: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}

.customCarousel .owl-nav {
  display: none;
}

.customCarousel .owl-dots {
  margin-top: 10px;
}

.icon {
  width: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  max-width: 1050px;
  min-height: 52vh;
  margin: auto;
  padding: 1.25rem 1rem;
}

@media only screen and (width >= 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media only screen and (width >= 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
/*#endregion*/
@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region header*/
.headerContainer {
  top: 0;
  position: fixed;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
  background-color: #000;
  z-index: 9;
  padding: 20px 80px;
}
.headerContainer .headerDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.headerContainer .headerDesktop .logoImage {
  max-width: 52px;
  height: auto;
}
.headerContainer .headerDesktop .navBar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.headerContainer .headerDesktop .navBar .navItem {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.headerContainer .headerDesktop .navBar .navItem a {
  color: #fff;
  text-decoration: unset;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.headerContainer .headerDesktop .navBar .navItem svg {
  margin-right: 6px;
}
.headerContainer .headerDesktop .navBar .navItem:last-child {
  margin-right: 0;
}
.headerContainer .headerMain {
  max-width: 1050px;
  height: 110px;
  margin: auto;
  z-index: 2;
  position: relative;
  background-color: #fff;
}
@media only screen and (width < 1200px) {
  .headerContainer .headerMain {
    padding: 0 0.75rem;
  }
}
@media only screen and (width < 768px) {
  .headerContainer .headerMain {
    height: auto;
    padding: 0.5rem 0.75rem;
  }
}
.headerContainer .headerMain .boxCard {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}
.headerContainer .headerMain .boxCard .ti-close, .headerContainer .headerMain .boxCard .ti-search {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.headerContainer .headerMain .logo {
  max-width: 210px;
  height: auto;
}
@media only screen and (width < 576px) {
  .headerContainer .headerMain .logo {
    max-width: 160px;
  }
}
.headerContainer .headerMain .call {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 70%;
  max-width: 130px;
  border: 2px solid #333;
  border-radius: 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #000;
  opacity: 0.5;
}
.headerContainer .headerMain .call svg {
  margin-right: 6px;
}
.headerContainer .headerMain .call:hover {
  background-color: #000000;
  color: #fff;
  opacity: 1;
}
.headerContainer .headerMain .call:hover svg path {
  fill: #fff !important;
}
.headerContainer .headerMain .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerContainer .headerMain .cart .numberProductInCard {
  position: absolute;
  top: -5px;
  right: -10px;
  min-width: 20px;
  width: max-content;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #E32E2D;
}
.headerContainer .headerMain .cart .numberProductInCard span {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
.headerContainer .headerMain .cart .cartImage {
  height: auto;
  width: 1.75rem;
}
.headerContainer .headerBottom {
  max-width: 1050px;
  margin: auto;
  padding: 0.25rem 0;
}
@media only screen and (width < 1200px) {
  .headerContainer .headerBottom {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}
@media only screen and (width < 768px) {
  .headerContainer .headerBottom {
    display: none;
  }
}
.headerContainer .headerBottom .menuGroup {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem 0;
  flex-wrap: wrap;
}
.headerContainer .headerBottom .menuGroup > li {
  display: inline;
  position: relative;
  /*a:first-child {
      border-left: unset;
  }*/
}
.headerContainer .headerBottom .menuGroup > li a {
  padding: 0 14px;
  color: #000000;
  text-decoration: unset;
  border-right: 1px solid #ccc;
}
.headerContainer .headerBottom .menuGroup > li .menuItem {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: max-content;
  max-height: 150px;
  background-color: #fff;
  z-index: 100;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.125);
  flex-wrap: wrap;
  flex-direction: column;
}
.headerContainer .headerBottom .menuGroup > li .menuItem a {
  border: unset;
  padding: 0;
  margin: 0 0.75rem;
  text-transform: capitalize;
}
.headerContainer .headerBottom .menuGroup > li::before {
  content: "";
  height: 20px;
  width: 60px;
  background: none;
  position: absolute;
  top: 25px;
  cursor: pointer;
  z-index: 2;
}
.headerContainer .headerBottom .menuGroup > li:last-child a {
  border-right: unset;
}
.headerContainer .headerBottom .menuGroup > li:hover .menuItem {
  display: flex;
}
.headerContainer .iconMenuMobile {
  font-size: 1.5rem;
}
.headerContainer #searchBoxMobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  border-top: 2px solid #000;
  top: -100vh;
}
.headerContainer #searchBoxMobile .searchContainer {
  width: 100%;
  height: 50vh;
  max-height: 300px;
  background-color: #fff;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.headerContainer #searchBoxMobile .searchContainer .searchBox {
  max-width: 75%;
}
.headerContainer #searchBoxMobile .virtualSearchBoxMobile {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}
.headerContainer .showSearchBoxMobile {
  animation: showSearchBoxMobile 1s forwards;
}
.headerContainer .hideSearchBoxMobile {
  animation: hideSearchBoxMobile 1s forwards;
}
@keyframes showSearchBoxMobile {
  0% {
    top: -100vh;
  }
  100% {
    top: 100%;
  }
}
@keyframes hideSearchBoxMobile {
  0% {
    top: 100%;
  }
  100% {
    top: -100vh;
  }
}
.headerContainer #menuMobile {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100vw;
}
.headerContainer #menuMobile .btnClose {
  position: absolute;
  top: 5px;
  right: 1px;
}
.headerContainer #menuMobile .btnClose span {
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  padding: 3px;
  border: 1px solid #000;
}
.headerContainer #menuMobile .menuBox {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
.headerContainer #menuMobile .menuBox .logoMobile {
  border-bottom: 2px solid #000;
}
.headerContainer #menuMobile .menuBox .logoMobile img {
  width: 120px;
  height: auto;
}
.headerContainer #menuMobile .menuBox .menu {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90%;
  padding: 1rem;
}
.headerContainer #menuMobile .menuBox .menu .menuGroup {
  padding-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}
.headerContainer #menuMobile .menuBox .menu .menuGroup button {
  background-color: transparent;
  border: unset;
}
.headerContainer #menuMobile .menuBox .menu .menuGroupActive .col-10 > a {
  font-weight: bold;
}
.headerContainer #menuMobile .menuBox .menu .menuGroupActive .col-2 svg {
  transform: rotate(90deg);
}
.headerContainer #menuMobile .menuBox .menu a {
  color: #000;
  text-decoration: unset;
}
.headerContainer #menuMobile .menuBox .menu .menuItem a {
  width: 100%;
  margin: 0.25rem 0;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar {
  width: 5px;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar-track {
  background: #c1c1c1;
}
.headerContainer #menuMobile .menuBox .menu::-webkit-scrollbar-thumb {
  background: #000;
}
.headerContainer .showMenuMobile {
  animation: showMenuMobile 1s forwards;
}
.headerContainer .hideMenuMobile {
  animation: hideMenuMobile 1s forwards;
}
@keyframes showMenuMobile {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes hideMenuMobile {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
.headerContainer .searchBox {
  width: 100%;
  max-width: 260px;
  height: 35px;
  position: relative;
}
.headerContainer .searchBox .inputSearch {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  border-color: rgba(0, 0, 0, 0.09);
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 8px;
  padding-right: 35px;
}
.headerContainer .searchBox .ti-search {
  width: 30px;
  height: 100%;
  font-weight: 900;
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.headerContainer .searchBox #searchResult {
  width: 100%;
  position: absolute;
  max-height: 60vh;
  background-color: #fff7f7;
  overflow-y: scroll;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3019607843);
}
.headerContainer .searchBox #searchResult .suggest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  text-decoration: unset;
  align-items: center;
  background-color: #fff;
  padding: 4px 0;
}
.headerContainer .searchBox #searchResult .suggest img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.headerContainer .searchBox #searchResult .suggest span {
  max-width: 75%;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -line-clamp: 3;
  -webkit-box-orient: vertical;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar {
  width: 5px;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar-track {
  background: #c1c1c1;
}
.headerContainer .searchBox #searchResult::-webkit-scrollbar-thumb {
  background: #000;
}

.virtualHeader {
  width: 100%;
  height: 180px;
}
@media only screen and (width < 992px) {
  .virtualHeader {
    height: 130px;
  }
}
@media only screen and (width < 576px) {
  .virtualHeader {
    height: 110px;
  }
}
@media only screen and (width >= 768px) and (width < 994px) {
  .virtualHeader {
    height: 205px;
  }
}

/*#endregion*/
/*#region footer*/
.footerContainer {
  width: 100%;
  margin: auto;
  background-color: #181818;
  color: #fff;
}
.footerContainer .footerBox {
  max-width: 1200px;
  margin: auto;
  color: #b2b2b2;
}
.footerContainer .footerBox .footerInfor {
  padding: 3rem 0;
}
.footerContainer .footerBox .footerInfor .logo {
  max-width: 180px;
  height: auto;
  margin-bottom: 1rem;
}
.footerContainer .footerBox .footerInfor .title {
  font-size: 18px;
  color: #fff;
  padding-top: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.footerContainer .footerBox .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem;
  text-align: center;
  font-size: 14px;
}
.footerContainer #goTop {
  background-color: #fafafa;
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 60px;
  right: 25px;
  border-radius: 50%;
  border: 3px solid #000;
  z-index: 1;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
@media only screen and (width < 768px) {
  .footerContainer #goTop {
    width: 40px;
    height: 40px;
    bottom: 50px;
  }
}
.footerContainer #goTop span {
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (width < 768px) {
  .footerContainer #goTop span {
    font-size: 16px;
  }
}
.footerContainer #goTop:hover {
  opacity: 1;
}

/*#endregion*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
.homePage {
  margin: auto;
  width: 100%;
}
.homePage .homeBannerV1 {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  /*.categorySuggestion {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .suggestion {
          width: auto;
          max-height: 274px;
          border: 1px solid #e5e7eb;
      }
  }*/
}
.homePage .homeBannerV1 .banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homePage .homeBannerV1 .banner .intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.homePage .homeBannerV1 .banner .intro .title {
  font-weight: 400;
  font-size: 99px;
}
.homePage .homeBannerV1 .banner .intro .subTitle {
  font-weight: 500;
  font-size: 22px;
  color: rgb(204, 204, 204);
}
.homePage .homeBannerV1 .banner .intro img {
  max-width: 320px;
}
.homePage .homeBannerV1 .subBanner {
  width: 100%;
  min-height: 274px;
  border: 1px solid #e5e7eb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (width < 768px) {
  .homePage .homeBannerV1 .subBanner {
    min-height: 200px;
  }
  .homePage .homeBannerV1 .subBanner .subBanner1 {
    width: 80% !important;
  }
}
.homePage .homeBannerV1 .subBanner .subBanner1, .homePage .homeBannerV1 .subBanner .subBanner2, .homePage .homeBannerV1 .subBanner .subBanner3 {
  position: absolute;
}
.homePage .homeBannerV1 .subBanner .subBanner1 {
  width: 60%;
  min-height: 40%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ff2323;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.homePage .homeBannerV1 .subBanner .subBanner1 a {
  color: #ff2323 !important;
}
.homePage .homeBannerV1 .subBanner .subBanner2 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner2 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  background-color: #e7328e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner2 a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  width: 60%;
  padding: 0.25rem 0;
  background-color: #ff2323;
  border: 1px solid #fff;
}
.homePage .homeBannerV1 .subBanner .subBanner3 {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .homeBannerV1 .subBanner .subBanner3 div {
  font-size: 1.25rem;
  font-weight: bold;
  width: 70%;
  color: #e6338c;
  background: black;
  opacity: 0.8;
  padding: 0.25rem 0;
  text-align: center;
}
.homePage .homeContent {
  overflow: hidden;
}
@media only screen and (width < 1200px) {
  .homePage .homeContent {
    max-width: 95%;
    margin: auto;
  }
}
