@font-face {
  font-family: "Satisfy-Regular";
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
  font-display: swap;
}
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
