<div>
    <input
           cFormControl
           type="text"
           [placeholder]="placeholder"
           [formControl]="myControl"
           [matAutocomplete]="auto"
           [attr.readonly]="!disabled && options && options.length > 0 ? null : true"
           class="{{!disabled && options && options.length > 0 ? '' : 'readonly'}}"
           (input)="filter($event)"
           (focus)="filter($event)">
    <mat-autocomplete requireSelection #auto="matAutocomplete"  [displayWith]="displayFn"  (optionSelected)="onOptionSelected($event)" >
      @for (option of filteredOptions; track option) {
        <mat-option [value]="option">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
</div>
